<ion-view title="Fotos">
 	<ion-content class="seller-fotos">
 		<div class="description">
 			<strong>Fotos</strong>
 			<p>
 				Tome las fotografías para ayudar a los técnicos con la instalación y brindar un mejor servicio.
 			</p>
 		</div>
 		<div class="fotos">

 			<div class="foto">
 				<!--<img 
 					ngf-select="uploadImage($file,0)" ng-model="contractFotos[0]" ngf-accept="'image/*'" accept="image/*"
 					ngf-src="contractFotos[0] || 'img/seller/int1.png'" ngf-default-src="'img/seller/int1.png'" ngf-accept="'image/*'" />-->
 				
 				<img ng-src="{{contractFotos[0] || 'img/seller/int1.png'}}" ng-click="captureImage(0)" />

 				<div class="checked" ng-show="contractFotos[0]" ng-click="removeImage(0)">
 					<i class="ion-close"></i>
 				</div>
 			</div>

 			<div class="foto">
 				<img ng-src="{{contractFotos[1] || 'img/seller/int2.png'}}" ng-click="captureImage(1)" />
 				
 				<div class="checked" ng-show="contractFotos[1]" ng-click="removeImage(1)">
 					<i class="ion-close"></i>
 				</div>
 			</div>

 			<div class="foto">
 				<img ng-src="{{contractFotos[2] || 'img/seller/int3.png'}}" ng-click="captureImage(2)" />

 				<div class="checked" ng-show="contractFotos[2]" ng-click="removeImage(2)">
 					<i class="ion-close"></i>
 				</div>
 			</div>

 			<div class="foto">
 				<img ng-src="{{contractFotos[3] || 'img/seller/int4.png'}}" ng-click="captureImage(3)" />
 				
 				<div class="checked" ng-show="contractFotos[3]" ng-click="removeImage(3)">
 					<i class="ion-close"></i>
 				</div>
 			</div>

 			<div class="foto">
 				<img ng-src="{{contractFotos[4] || 'img/seller/int4.png'}}" ng-click="captureImage(4)" />
 				
 				<div class="checked" ng-show="contractFotos[4]" ng-click="removeImage(4)">
 					<i class="ion-close"></i>
 				</div>
 			</div>

 			<div class="foto">
 				<img ng-src="{{contractFotos[5] || 'img/seller/int4.png'}}" ng-click="captureImage(5)" />
 				
 				<div class="checked" ng-show="contractFotos[5]" ng-click="removeImage(5)">
 					<i class="ion-close"></i>
 				</div>
 			</div>

 		</div>
 		<div class="footer-padding"></div>
	</ion-content>
	<div class="footer-container">
 		<div class="row row-center">
 			<div class="col-25" style="font-size:80%;">
 				Total mas IVA del pago inicial
 			</div>
 			<div class="col-25 text-center">
 				<strong>${{totalCurrentContract | number:2}}</strong>
 			</div>
 			<div class="col-50">
 				<button type="button" ui-sref="{{$state.includes('app.seller') ? 'app.seller.datos' : 'app.client.contract.datos' }}" class="button button-block bg-green">
 					Siguiente <i class="ion-chevron-right"></i>
 				</button>
 			</div>
 		</div>
 	</div>
</ion-view>