/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic

$balanced: #85BB40;
$positive: #0D9AE1;
$SIDEMENU_TOP: #0D9AE1;
$SIDEMENU_BOTTOM: #0a74aa;
$SIDEMENU_TRANSPARENCY: rgba(255, 255, 255, 1);
$SIDEMENU_SELECTEDCOLOR: #043047;
$Slide1: #0b7fba;
$Slide1Faded: #074f73;
$Slide2: #EF473A;
$Slide2Faded: #ba372d;
$Slide3: #84ba40;
$Slide3Faded: #527327;
$Slide4: #ba9300;
$Slide4Faded: #735a00;
$Slide6: #6c54ba;
$Slide6Faded: #433473;
$button-stable-text: #fff;
$stable: #0D9AE1;
@import "www/lib/ionic/scss/ionic";

.profile-image {
	img {
		border-radius: 50%;
		margin: 10px;
		border: 4px solid $SIDEMENU_TRANSPARENCY;
	}
	
}

.side-menu-gradient {
	background: -webkit-linear-gradient(left top, #0D9AE1, #0a74aa);
	background: -o-linear-gradient(bottom right, #0D9AE1, #0a74aa);
	background: -moz-linear-gradient(bottom right, #0D9AE1, #0a74aa);
	background: linear-gradient(to bottom right, #0D9AE1, #0a74aa);

	h4 {color: #fff;}
	hr {
		border:none;
		height: 1px;
		background: #ccc;
	}
	ion-item {
		border: 0px;
		background: none;
		color: #fff;
		.item-content {
			background: none;
			&.activated {
				background: $SIDEMENU_SELECTEDCOLOR;
			}
			
			&.active-page-highlight {
				.item-content {
					background: $SIDEMENU_TRANSPARENCY;
				}
				
			}
		}
	}
}

.spacer {
	display:block;
	width: 100%;
	height: 32px;
}

.profile-image {
	img {
		display: block;
		width: 30%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
}

.table {
	display:table;
	width:100%;
	height:100%;

	.table-row {
		display:table-row;

		.table-cell {
			display:table-cell;
			vertical-align:middle;
		}
	}
}

.myLink {
	background-color: #fff !important;
	text-align: center;
	padding-right: 16px !important;
}
	

// This code is required for Angular Google Maps to funciton
ui-gmap-google-map {
	height: 100%;
	width: 100%;
	display: block;
	.angular-google-map {
		height: 100%;
		.angular-google-map-container {
			height: 100%;
		}
		
	}
}


@import "www/app/guest/login/login.scss";
@import "www/app/guest/home/home.scss";
@import "www/app/guest/start/start.scss";
@import "www/app/guest/beneficios/beneficios.scss";
@import "www/app/cotizador/cotizador.scss";