<ion-view title="Galería de Medios">
    <ion-content padding="true" class="manual-remove-top-padding" scroll="false">
        <div class="description">
            <strong>Galería de medios</strong>
            <p>
                Haz click para poder compartir el medio en cualquiera de las opciones disponibles.
            </p>
        </div>
        <div class="padding" ng-hide="medios.length">
            {{textLoad}}
        </div>
        
        <ion-list>
            <ion-item click-for-options class="item-icon-right" ng-repeat="item in medios" href="#/app/guest/media/{{item.id_posts}}">
        
                {{item.title}}
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>