<ion-header-bar class="bg-green">
	<h1 class="title"><img src="img/logo-aguagente-white.png" height="65"/></h1>
</ion-header-bar>
<ion-content>
	<ion-list>
		<ion-item menu-close href="#/app/seller/welcome">
			Menú principal
		</ion-item>
		<ion-item menu-close ui-sref="app.seller.contratos">
			Contratos <span class="badge badge-assertive" ng-if="getManyContracts() > 0">{{getManyContracts()}}</span>
		</ion-item>
		<ion-item menu-close ng-click="reportarProblema()" style="margin-bottom:30px;">
			Reportar un problema
		</ion-item>
		<ion-item menu-close ng-if="currentUser.isClient()" ng-click="changeMenu('client')">
			<i class="ion-log-in"></i> Mi cuenta
		</ion-item>
		<ion-item menu-close ng-if="currentUser.isClient()" ui-sref="app.seller.password">
			<i class="ion-information-circled"></i> Cambiar password
		</ion-item>

		<ion-item menu-close ng-click="logout()">
			<i class="ion-power"></i> {{ currentUser.isClient() ? 'Cerrar sesión' : 'Salir'}}
		</ion-item>
	</ion-list>
</ion-content>