.guest-start{
	background: white;
	
	padding: 8%;

	.scroll{
		min-height: 100%;
	}

	.logo{
		width: 30%;
		margin: 20px auto;
		display: block;
		max-width: 200px;
	}
	.text{
		color:#999;
		font-family: 'Raleway', sans-serif;
		text-align: left;
	}
}