<ion-view title="Bienvenido" hide-back-button="true">
	<ion-content class="guest-start">
		
		<img class="logo" src="img/logo-aguagente.png" />
		<div class="text">
			Aguagente le agradece por tu interés en unirte a nuestro servicio.
			<br>
			<br> Amablemente le solicitamos sigas los sencillos pasos para ingresar tu método de pago. Una vez completado y aprobado te
			notificaremos tu fecha de instalación.
			<br>
			<br> Siga los sencillos pasos para referir 6 personas y disfruta de ‘Agua Gratis’.
			<br>
		</div>

		<div class="text-center">
			<!--<button type="button" class="button button-block bg-green"  ui-sref="metodo_pago">
		        Configurar pago
		    </button>-->

			

			<button type="button" class="button button-block" style="background:#3B5998; color:#fff;" ng-click="referirFace()">
				Referir por facebook
			</button>

			<button type="button" class="button button-block button-balanced" style="color:#fff;" ng-click="referirWhatsApp()">
				Referir por whatsapp
			</button>

			
		</div>
	</ion-content>
</ion-view>