<ion-view title="Aguagratis">
    <ion-content padding="true" class="guest-home manual-remove-top-padding">
        <div class="video-container">
            <div class="">
                <video class="video" preload="metadata" controls playsinline webkit-playsinline="webkit-playsinline">
                    <source ng-src="{{'img/seller/reseller.mp4' | trustSrc}}" type="video/mp4" />
                </video>
                <!--<youtube-video class="embed-responsive-item" video-id="'08dLqeiid50'" player="bestPlayer"></youtube-video>-->
            </div>
        </div>
        <div class="spacer" style="height:15px;"></div>
        <hr>
        <h3 class="text-center">¡Comparte!</h3>
        
        <p>Sí, realmente puedes disfrutar del servicio de Aguagente completamente GRATIS de por vida y es realmente fácil conseguirlo.</p>
        <p>Así es como funciona:</p>
        <ol>
            <li><strong>1)</strong> Asegurate de haber iniciado sesión.</li>
            <li><strong>2)</strong> Use el botón compartir <i class="icon ion-android-share-alt"></i> para compartir los medios inteligentes de Aguagente favoritos con todas las personas que conoces en su plataforma favorita de redes sociales: Whatsapp, Facebook, Twitter, Instagram, correo electrónico o casi cualquier aplicación de redes sociales que tengas instalado en tu teléfono.</li>
            <li><strong>3)</strong> Cuando compartas los medios inteligentes de Aguagente, se publicará un enlace único de registro de un clic con los medios que nos dice que tu eres quién compartió.</li>
            <li><strong>4)</strong> Si alguien comparte con los clics que se vinculan para registrarse en nuestro servicio, se convertirá en tu referido.</li>
            <li><strong>5)</strong> Recibirán un correo electrónico de bienvenida y un nombre de usuario y contraseña para la aplicación para que puedan iniciar sesión y completar su registro al servicio.</li>
            <li><strong>6)</strong> Todos los meses, antes de que se te haga el cargo por tu servicio, nuestro sistema verifica si tienes 6 referidos que no tengan deuda con Aguagente; siempre y cuando tengas 6 referidos que hayan pagado a tiempo o hayan obtenido el servicio gratis como tú, entonces no se te hará el cargo.</li>
            <li><strong>7)</strong> Si tienes menos de 6 referidos que no deben dinero, se te cobrará ese mes, por lo que siempre es una buena idea seguir compartiendo y tener algunos referidos adicionales en caso de que alguien se olvide de actualizar los datos de su tarjeta de crédito.</li>
        </ol>  
        <p>Es así de fácil, tenemos una gran cantidad de medios inteligentes listos para compartir en la aplicación y se actualizan regularmente para que comiences a compartir y que todos conozcan nuestro excelente servicio.</p>
        <p>Así ahorras tiempo, dinero y esfuerzo. </p>
        <br>
        
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" ng-model="link" disabled class="myLink">
            </label>
        </div>
        <p class="text-center"><button class="button button-balanced" ng-click="copyMsgGeneral()">COPIAR LINK</button></p>

        <ul class="list" style="margin-bottom:0px;">
            <ion-toggle
                ng-model="playVideoOnOpen.checked" 
                ng-change="toggleVideoOnOpen()">
                Reproducir video al abrir<br>la aplicación
            </ion-toggle>
        </ul>

    </ion-content>
</ion-view>
