<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button></ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent">
			<ion-view title="Home" hide-nav-bar="false" class="bgLogin">
			
				<ion-content class="login">
					<div class="spacer" style="height: 75px;"></div>
			
					<form name="loginForm" class="form list" ng-submit="ingresar()">
						<div>
							<img src="img/slider/IdPHtiemSAep52azQyW6_Banner.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
						</div>
						<ion-list>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Usuario" ng-model="data.username">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" placeholder="Contraseña" ng-model="data.password">
							</div>
							<div class="form-group">
								<button ng-click="changeRemember()" type="button" class="remember">
									<i ng-class="{'ion-android-checkbox-outline-blank' : !remember , 'ion-android-checkbox-outline' : remember}"></i>
									Recordarme
								</button>
							</div>
						</ion-list>
						<button type="submit" class="button button-balanced button-block">Iniciar sesión</button>
						<button class="button button-block" style="background:#3B5998; color:#fff;" type="button" ng-click="ingresarFacebook()">
							Ingresar con facebook
						</button>
						<div class="spacer" style="height: 12px;"></div>
						<a ui-sref="app.cotizador.start" class="button button-positive button-block">O crea una cuenta nueva</a>
					</form>
				</ion-content>
			
			</ion-view>
		</ion-nav-view>
	</ion-side-menu-content>

	<div>
		<div>
			<ion-side-menu side="left" class="menu-side" ng-include="'app/guest/menu/menu_guest.html'"></ion-side-menu>
		</div>
	</div>
</ion-side-menus>
