<ion-view title="Home" hide-nav-bar="true" class="bgLogin">
	<ion-content overflow-scroll='false' class="login">
		<img class="logo" src="img/logo-aguagente-white.png"></img>
		<form name="loginForm" class="form" ng-submit="ingresar()">

			<div class="form-group">
				<input type="text" class="form-control" placeholder="Usuario" ng-model="data.username">
			</div>

			<div class="form-group">
				<input type="password" class="form-control" placeholder="Contraseña" ng-model="data.password">
			</div>

			<button class="button button-block bg-green"  type="submit">
		        Ingresar
		    </button>

		    <button class="button button-block" style="background:#3B5998; color:#fff;"  type="button" ng-click="ingresarFacebook()">
		        Ingresar con facebook
		    </button>

		    <div class="text-center">
			    <button ng-click="changeRemember()" type="button" class="remember">
			    	Recordarme <i ng-class="{'ion-android-checkbox-outline-blank' : !remember , 'ion-android-checkbox-outline' : remember}"></i>
			    </button><br/>
			    <button ng-click="forget()" type="button" class="forgetLogin">¿Olvidaste tu contraseña?</button><br/>
			    <button ng-click="openModal()" type="button" class="forgetLogin">No estoy registrado</button><br/>
			    <button ng-click="referir()" type="button" class="forgetLogin">Referir</button>
			</div>

		</form>
	</ion-content>
</ion-view>