<ion-view hide-back-button="true" title="Notificaciones">
  <ion-content class="notificaciones-page" padding="true">

    <div class="description">
      <strong>Listado de notificaciones</strong>
    </div>

    <div class="card" ng-repeat="r in notificaciones">
      <div class="item item-divider text-right">
        <label>{{r.title}}</label>
        <label><strong>{{r.created_at | AsDate | date:'dd MMMM yyyy'}}</strong></label>
      </div>
      <div class="item item-text-wrap" ng-bind-html="r.message"></div>
    </div>

    <!--<div class="card">
            <div class="item item-divider text-right">
                23 enero 2013
            </div>
            <div class="item item-text-wrap">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>
        </div>-->

  </ion-content>
</ion-view>
