.notificaciones-page{

	background: white;

	.scroll{
		min-height: 100%;
	}

	.description{

		padding:5%;
		background:#CCC;
		color:#000;
		font-family: 'Raleway', sans-serif;
		text-align: left;

		p{
			margin-top:10px;
		}
	}
}