<ion-content padding="false" class="side-menu-left side-menu-gradient">
  <div class="spacer" style="height: 45px;"></div>
  <div class="profile-image">
    <img src="img/Dnntgk5CTaeby5En7J4W_Avatar.png">
  </div>
  <h4 class="text-center" ng-if="username">{{currentUser.getName()}}</h4>
  <h4 class="text-center" ng-if="!username">Bienvenido</h4>
  <div class="spacer" style="height: 20px;"></div>
  <hr>
  <ion-list>
    <ion-item menu-close href="#/app/seller/welcome">
      Menú principal
    </ion-item>
    <ion-item menu-close ui-sref="app.seller.contratos">
      Contratos <span class="badge badge-assertive" ng-if="getManyContracts() > 0">{{getManyContracts()}}</span>
    </ion-item>
    <ion-item menu-close ui-sref="app.common.report" style="margin-bottom:30px;">
      Reportar un problema
    </ion-item>
    <ion-item menu-close ng-if="currentUser.isClient()" ng-click="changeMenu('client')">
      <i class="ion-log-in"></i> Mi cuenta
    </ion-item>
    <ion-item menu-close ng-if="currentUser.isClient()" ui-sref="app.seller.password">
      <i class="ion-information-circled"></i> Cambiar password
    </ion-item>

    <ion-item menu-close ng-click="logout()">
      <i class="ion-power"></i> {{ currentUser.isClient() ? 'Cerrar sesión' : 'Salir'}}
    </ion-item>
  </ion-list>
</ion-content>
