<ion-view title="Cotizador">
  <ion-content padding="true" class="has-header cotizador">

    <h4>Depósito</h4>
    <div class="show-list-numbers-and-dots text-right">
      <p ng-class="{ 'rebaja' : deposito < 2000 } ">${{ deposito > 2000 ? (deposito | number:2) : '2,000.00'}}</p>
      <p ng-if="deposito < 2000 ">
        <strong>${{deposito | number:2}}</strong>
      </p>
    </div>
    <div class="row">
      <div class="col">
        <p>Se te regresará el depósito a la hora de la cancelación, siempre y cuando estés al corriente con tus
          mensualidades.</p>
      </div>
    </div>

    <h4>Mensualidad</h4>
    <div class="show-list-numbers-and-dots text-right">
      <p ng-class="{ 'rebaja' : group.monthly_fee/100 < 349 }">${{'349.00'}}</p>
      <p ng-if="true">
        <strong>${{group.monthly_fee/100 | number:2}}</strong>
      </p>
    </div>

    <div ng-show="isValidCupon">
      <h4>Cupón {{contractData.cupon}}</h4>
      <div class="show-list-numbers-and-dots text-right">
        <p ng-if="true">
          <strong>- ${{descuento | number:2}}</strong>
        </p>
      </div>
    </div>
    <div>

      <h4>Material</h4>
      <ion-list>
        <ion-checkbox ng-click="changeMaterial(element,$event)"
                      ng-checked="contractData.material.id_categories_elements == element.id_categories_elements"
                      ng-repeat="element in material.elements"
                      class="item-text-wrap">
          {{element.name}} <strong class="pull-right">${{element.price | number:2}}</strong>
        </ion-checkbox>
      </ion-list>
      <div class="spacer" style="height: 10px;"></div>
    </div>

    <div ng-repeat="category in categories | filter:{'name':'!Material'}">
      <h4>{{category.name}}</h4>
      <ion-list>
        <ion-checkbox class="item-text-wrap"
                      ng-checked="contractData.elements[extra.id_categories_elements]"
                      ng-repeat="extra in category.elements"
                      ng-click="clickExtra($event,extra)">
          {{extra.name}} <strong class="pull-right">${{extra.price | number:2}}</strong>
        </ion-checkbox>
      </ion-list>
      <div class="spacer" style="height: 10px;"></div>
    </div>

    <div>
      <h4>Responsabilidad social</h4>
      <div class="show-list-numbers-and-dots">
        <p>Aguagente utiliza el 0.7% de todo lo que nos paga por nuestro servicio para ayudar a 2 millones de mexicanos viviendo en pobreza extrema.</p>
        <p>Estamos ayudando a gente en pobreza extrema que viven a menos de 1 hora de su casa.</p>
        <p>¿Te gustaría igualar la contribución que Aguagente hace al programa de Responsabilidad Social para que
          podamos ayudar a mas gente más rápido?</p>
      </div>

      <ion-checkbox ng-model="filter.blue"
                    ng-checked="contractData.responsabilidad"
                    ng-click="toggleResponsabilidad()">
        Responsabilidad social + 0.7%
      </ion-checkbox>
      <div class="spacer" style="height: 60px;"></div>
    </div>

  </ion-content>
  <div class="bar bar-footer bar-balanced">
    <div class="row row-center">
      <div class="col-25" style="font-size:80%;">
        Total mas IVA del pago inicial
      </div>
      <div class="col-25 text-center">
        <strong>${{totalCurrentContract | number:2}}</strong>
      </div>
      <div class="col-50">
        <button type="button" ng-disabled="!contractData.material.id_categories_elements" ui-sref="app.cotizador.datos()" class="button button-block button-positive">
          Siguiente
          <i class="ion-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</ion-view>
