<ion-view title="Contrato Final">
 	<ion-content class="seller-preview">
 			<h3 class="description">
 				CONTRATO DE SUMINISTRO DE AGUA Y COMODATO DE EQUIPO
 			</h3>
	 		<div class="rest-item" >
	 			
	 			<div class="text">

					<p>La compañia: <strong>Aguagente. S.A.P.I de C.V.</strong></p>
					<p>Nombre del representante: <strong>{{currentUser.getUser().name || currentUser.getGuest().name || vendedor.name}}</strong></p>

					<hr/>
					
					<p>Cliente: <strong>{{contractData.name}}</strong></p>
					<p>Correo electrónico: <strong>{{contractData.email}}</strong></p>
					<p>Domicilio: <strong>{{contractData.address}}</strong></p>
					<p>Entre calles: <strong>{{contractData.between_streets}}</strong></p>
					<p>Colonia: <strong>{{contractData.colony}}</strong></p>
					<p>Código postal: <strong>{{contractData.postal_code}}</strong></p>
					<p>Estado: <strong>{{contractData.state}}</strong></p>
					<p>Ciudad: <strong>{{contractData.county}}</strong></p>
					<p>Teléfono: <strong>{{contractData.phone}}</strong></p>
					<br/>
					<h4>Inventario del Equipo</h4>
					<hr/>
					<p ng-repeat="item in extras">
						{{item.name}}:  
						<strong>${{item.price | number:2}}</strong>
					</p>

					<!--<p>Costo único de instalación: <strong>${{ (vendedor.sign_into.installation_fee / 100) | number:2}}</strong></p>-->

					<p>Pagos mensuales: <strong>${{ (vendedor.sign_into.monthly_fee / 100) | number:2}}</strong></p>

					<p>Depósito: <strong>${{ (vendedor.sign_into.deposit / 100) | number:2}}</strong></p>

					<p>Forma de pago: <strong>{{ contractData.monthly_installments != 1 ? contractData.monthly_installments + ' meses' : 'Pago único' }}</strong></p>
					
					<p>Comisión bancaria mensual: 
						<strong ng-if="contractData.credit_card.bank && contractData.credit_card.bank == 'amex'">${{ ( (vendedor.monthly_fee / 100) * (fees.AMERICAN_EXPRESS[1] / 100) ) * 1.16 | number:2}}</strong>
						<strong ng-if="!contractData.credit_card.bank || contractData.credit_card.bank != 'amex'">$0.00</strong>
					</p>

					<p>Comisión bancaria extras: 
						<strong ng-if="contractData.monthly_installments != 1 || (contractData.credit_card.bank && contractData.credit_card.bank == 'amex')">
							${{ ( ((vendedor.sign_into.deposit / 100) + total_extras) * (contractData.fee_installments / 100) ) * 1.16 | number:2}}
						</strong>
						<strong ng-if="contractData.monthly_installments == 1 && (!contractData.credit_card.bank || contractData.credit_card.bank != 'amex')">
							$0.00
						</strong>
					</p>

					<p>
						Responsabilidad social mensual: <strong>${{ resp_mensual | number:2 }}</strong>
					</p>

					<p>
						Responsabilidad social extras: <strong>${{ resp_social | number:2 }}</strong>
					</p><br/>

					<div ng-if="group.trial_days > 0">
						<h4>Promociones</h4>
						<hr/>
						<p>
							<span ng-if="group.trial_days_price > 0">{{group.trial_days | DiasMes}} meses por ${{ (group.trial_days_price / 100) | number:2}} MXN</span>
							<span ng-if="group.trial_days_price <= 0">{{group.trial_days | DiasMes}} meses gratis</span>
						</p>
					</div>
					<br/><br/>

					<p class="contrato">CONTRATO DE SUMINISTRO DE AGUA Y COMODATO DE EQUIPO QUE CELEBRAN “AGUAGENTE, S.A.P.I DE C.V.” (EN LO SUCESIVO “LA COMPAÑÍA”), REPRESENTADA EN ESTE ACTO POR JEAN-PAUL CIANTAR, Y POR LA OTRA, LA PERSONA FÍSICA CUYO NOMBRE APARECE EN LA CARATULA DE ESTE CONTRATO (EN LO SUCESIVO “EL CLIENTE”) POR SU PROPIO DERECHO, DE ACUERDO A LAS SIGUIENTES DEFINICIONES Y CLÁUSULAS 
						<br><br>
						<strong>D E F I N I C I O N E S</strong><br><br>
						Banco receptor: La institución bancaria donde la Compañía tiene abierta una cuenta para efectos de recibir los pagos del Cliente bajo este contrato. 
						Equipo: Aparato descrito en la caratula del presente contrato (en lo sucesivo el “Equipo”), el cual consiste en un filtro de agua instalado en el Hogar, cuyo uso es filtrar agua de la llave exclusivamente para uso doméstico. 
						Hogar: El domicilio del cliente señalado en la carátula. 
						Inventario: La lista de Equipo instalado en el Hogar, lista que se localiza en la carátula de este contrato.
						<br><br>
						<strong>C L Á U S U L A S</strong><br><br>
						<strong>1.- Objeto:</strong> El objeto de este contrato es que la Compañía le suministre al Cliente agua pura a través del Equipo para uso doméstico exclusivamente, de acuerdo a la capacidad señalada en la Cláusula 3-b) de este contrato.<br><br>
						<strong>2.- Comodato:</strong> La Compañía le entrega al Cliente el Equipo en comodato; por ende, salvo lo expresamente pactado en este contrato, la contraprestación aquí señalada es sólo por el suministro de agua y no por el uso del Equipo, absorbiendo la Compañía todos los gastos de mantenimiento, reposición, reparación, visitas y supervisión. 
						<br><br>
						<strong>3.- Tarifas:</strong> El Cliente se obliga a pagar a la Compañía las siguientes tarifas: a) Una tarifa única de instalación no reembolsable pagadera a la firma del presente contrato, misma que se establece en la carátula del presente contrato.
						b) Una tarifa mensual pagadera durante los primeros 5 (cinco) días hábiles de cada mes de calendario, salvo el primer pago (entero o fraccionado), el cual será cubierto a la firma del presente contrato, mismo que incluye un consumo medible de hasta 500 (quinientos) litros de agua. Asimismo, el consumo excedente se cobrará a $40 pesos (cuarenta pesos 00/100, M.N.) por cada 100 (cien) litros o fracción. c) Se cobrará $500 pesos (quinientos pesos 00/100, M.N.) más IVA por cada filtro adicional, en su caso, pagadero a la reposición del mismo. d) El depósito se pagará a la firma del presente contrato y será reembolsable.
						<br><br>
						<strong>4.- Depósito:</strong> El monto entregado como depósito en garantía a que se refiere la Cláusula 3, inciso d), será reembolsado al Cliente de acuerdo a la Cláusula 6, a la terminación del contrato, siempre y cuando el Equipo sea recuperado por la Compañía en buenas condiciones de uso. Adicionalmente, el reembolso del depósito en garantía al término del contrato está sujeto a la condición resolutoria que el Cliente no se halle en ningún supuesto de incumplimiento, mencionando de manera enunciativa más no limitativa, que se encuentre al corriente en todos sus pagos.
						<br><br>
						<strong>5.- Duración:</strong> La duración de este contrato será de 5 (cinco) años. El Cliente podrá dar por terminado anticipadamente el contrato sin responsabilidad después de 1 (un) año contado a partir de la fecha de este contrato. En caso de terminación anticipada por parte del Cliente inferior al término de 1 (un) año aquí señalado, éste perderá su depósito en garantía a favor de la Compañía.  La Compañía tendrá el derecho de terminar anticipadamente este contrato sin responsabilidad siempre y cuando dé aviso de terminación al Cliente dentro de un plazo de 15 (quince) días naturales anteriores a la fecha de terminación.
						<br><br>
						<strong>6.- Cobro de tarifas y reembolsos:</strong> Tanto las tarifas que pague el Cliente, como los reembolsos que realice en su caso la Compañía, serán realizados a través de débito bancario directo o vía tarjeta de crédito; por ende, el Cliente se obliga a llenar, firmar y realizar todo el trámite necesario y seguir los lineamientos que el banco receptor le indique a efectos de comenzar la instalación del Equipo. El incumplimiento por parte del Cliente de todos los requisitos bancarios correspondientes o el rechazo de su solicitud por parte del banco receptor traerá como consecuencia la terminación de este contrato.   
						<br><br>
						<strong>7.- Inejercicio de derechos:</strong> La falta de acción legal por parte de la Compañía en caso de incumplimiento por parte del Cliente, no ocasionará la preclusión del derecho de la Compañía para ejercer sus derechos posteriormente en caso que persista dicha falta de cumplimiento. Asimismo, la falta de cobro oportuno por parte del banco receptor bajo la Cláusula 6 no constituirá una renuncia de derechos para ejercer el cobro posteriormente.   
						<br><br>
						<strong>8.- Mantenimiento:</strong> La Compañía proveerá de mantenimiento al Equipo hasta 2 (dos) veces al año sin cobro alguno, con cita previa. Sin embargo, los cambios de filtros extra, ya sea por negligencia, vandalismo o cambios en exceso, serán cobrados al Cliente. Asimismo, el Cliente se obliga a abstenerse dar servicio, desarmar, inhabilitar o reparar el Equipo por su propia cuenta, debiendo informar a la Compañía dentro de las 48 (cuarenta y ocho) horas siguientes a que se detecte algún defecto, falla, daño, pérdida, robo o mal funcionamiento en el Equipo, a efectos de programar una visita de algún técnico de la Compañía  para reparar o reemplazar el Equipo.  Empero, en casos de extrema urgencia (ej. fugas severas), el Cliente podrá desinstalar el equipo de su lugar original de instalación a su gasto y costa dando aviso inmediato a la Compañía, obligándose aquél a resguardar el Equipo hasta que algún técnico de la Compañía lo reponga o repare. 
						<br><br>
						<strong>9.- Responsabilidad:</strong> El Cliente será responsable en todo momento por la pérdida, destrucción, mal uso y/o desgaste anormal del Equipo, incluso si dichos daños son causados por caso fortuito o fuerza mayor, obligándose el Cliente en su caso a cubrir a la Compañía las cifras establecidas en este contrato. Las características del equipo, así como sus piezas y características están establecidas en la carátula del presente contrato.  
						<br><br>
						<strong>10.- Subarrendamiento:</strong> El Cliente se obliga a no subarrendar, disponer, enajenar, gravar, ni permitir a terceros la posesión del Equipo. Asimismo, el Cliente se obliga a no desmantelar ni mover el Equipo de su lugar original de instalación en el Hogar. En caso que el Cliente cambie su domicilio, éste se obliga a dar aviso a la Compañía dentro de los siguientes 15 (quince) días naturales para programar que los técnicos de la Compañía desinstalen el Equipo del Hogar y lo reinstalen en el nuevo domicilio del Cliente. 
						<br><br>
						<strong>11.- Límite de responsabilidad:</strong> En todo caso, la Compañía limita su responsabilidad frente al Cliente y terceros por los daños, lesiones y/o pérdidas causadas por el uso o mal uso del Equipo, incluyendo Equipo defectuoso o inadecuado, al costo de la reparación o reposición del Equipo.  
						<br><br>
						<strong>12.- Cesión de derechos:</strong> Este contrato deja sin efectos cualquier acuerdo oral o escrito previo entre las partes; asimismo, el Cliente no podrá ceder sus derechos ni obligaciones bajo este contrato a terceros sin el previo consentimiento por escrito de la Compañía. 
						<br><br>
						<strong>13.- Devolución del equipo:</strong> Durante los siguientes 30 (treinta) días posteriores a la terminación de este contrato, el Cliente se obliga a permitir que la Compañía desinstale el Equipo del Hogar, obligándose el Cliente a pagar un incremento del 100% (cien por ciento) en la tarifa mensual correspondiente durante todo el tiempo que el Cliente retenga el Equipo injustificadamente.  
						<br><br>
						<strong>14.- Interés moratorio:</strong> El Cliente se obliga a pagar un interés moratorio del 4% (cuatro por ciento) mensual sobre saldos insolutos más $100.00 (cien pesos 00/100, M.N.) por concepto de gastos de cobranza por cada incumplimiento de pago.
						<br><br>
						<strong>15.- Programa de referidos:</strong> El Cliente acepta que la Compañía lo inscriba a su Programa de Referidos de manera automática al firmar el presente contrato. Mediante su inscripción al Programa de Referidos el Cliente entiende que recibirá determinados beneficios por recomendar a personas que contraten los servicios de la Compañía como nuevos clientes. Los términos y condiciones del Programa de Referidos podrán ser consultados por el Cliente en el sitio de internet de la Compañía, ubicado en www.aguagente.com. Al firmar este contrato el Cliente acepta que para disfrutar de los beneficios del Programa de Referidos se obliga a observar los términos y condiciones mencionados. El Cliente conviene en que la Compañía podrá modificar los términos y condiciones del Programa de Referidos en cualquier momento, siempre y cuando las modificaciones sean publicada en su sitio de internet mencionado.
						<br><br>
						<strong>16.- Aviso de Privacidad:</strong> El Cliente menciona que conoce ampliamente el Aviso de Privacidad dado por la Compañía, mismo que puede ser consultado en el sitio de internet de la Compañía ubicado en www.aguagente.com, estando totalmente de acuerdo con lo estipulado en el mismo, y por lo tanto está de acuerdo con el buen cuidado y salvaguarda de sus datos personales por parte de la Compañía y su autorizado.
						<br><br>
						<strong>17.- Jurisdicción:</strong> Este es un contrato mercantil, por lo que para su interpretación y cumplimiento, aplicará el Código de Comercio. Asimismo, serán competentes para conocer de cualquier conflicto que surja en relación a este contrato los tribunales de primera instancia de Guadalajara, Jalisco, renunciando las partes a cualquier fuero que les pudiera corresponder por razón de sus domicilios presentes o futuros.
						<br><br>
						<strong>18.- Medios electrónicos:</strong> Este contrato se celebrará a través de medios electrónicos, alcanzándose un acuerdo de voluntades mediante la firma del mismo a través de lápiz óptico o digital en una tableta que desplegará el presente contrato. Asimismo, una copia escaneada de la credencial para votar o pasaporte del Cliente (o huella digital en algunos casos) será subida a dicho aparato y anexado como parte integrante de este contrato.
						<br><br>
						<strong>19.- Idioma:</strong> El presente contrato estará también disponible en idioma inglés; empero, en caso de discrepancias en la interpretación del mismo, prevalecerá la versión en español.   
						<br><br>
						<strong>Contacto:</strong><br/>
						contacto@aguagente.com <br/>
						Cel: (33) 3127 0350
						<br><br>
					</p>
				</div>

				<button type="button" ng-click="createContract()" class="button button-block bg-green">Acepto</button>
	 		</div>
	 	
	</ion-content>
</ion-view>
