.password-change{
	background: white;

	.scroll{
		min-height: 100%;
	}

	.description{

		padding:5%;
		background:#CCC;
		color:#000;
		font-family: 'Raleway', sans-serif;
		text-align: left;

		p{
			margin-top:10px;
		}
	}

	strong{
		font-weight:bold;
		font-size:125%;
	}

	.text{
		color:#999;
		font-family: 'Raleway', sans-serif;
		text-align: left;
	}

	.input-label i{
		font-size:80%;
		font-weight:bold;
	}
}