<ion-view hide-back-button="true" title="Password">
 	<ion-content class="password-change" padding="true">
	 	<ion-refresher
		    pulling-text="Actualizar..."
		    on-refresh="refreshApp()">
		</ion-refresher>

		<form name="clientPassword" novalidate="" ng-submit="updatePassword(clientPassword.$valid)">
			<div class="list">
				<label class="item item-input item-stacked-label"
					   ng-class="{ 'has-errors' : clientPassword.password.$invalid && clientPassword.password.$dirty, 'no-errors' : clientPassword.password.$valid && clientPassword.password.$dirty}">
					<span class="input-label">
						Nueva contraseña
					</span>
					<input type="password" name="password" ng-minlength="4" ng-model="data.password" required>
				</label>

				<div class="error-container" ng-show="clientPassword.password.$error && clientPassword.password.$dirty" ng-messages="clientPassword.password.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>

				<label class="item item-input item-stacked-label"
					   ng-class="{ 'has-errors' : clientPassword.confirmacion.$invalid && clientPassword.confirmacion.$dirty, 'no-errors' : clientPassword.confirmacion.$valid && clientPassword.confirmacion.$dirty}">
					<span class="input-label">
						Confirmación contraseña
					</span>
					<input type="password" name="confirmacion" ng-minlength="4" ng-model="data.confirmacion" required>
				</label>

				<div class="error-container" ng-show="clientPassword.confirmacion.$error && clientPassword.confirmacion.$dirty" ng-messages="clientPassword.confirmacion.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>
			</div>

	 		<button type="submit" ng-disabled="clientPassword.$invalid" class="button button-block bg-green">Enviar</button>
		</form>
	</ion-content>
</ion-view>
