<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                <span class="badge badge-assertive" ng-if="getManyNotificaciones() > 0">{{getManyNotificaciones()}}</span>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left" class="menu-side">
        <ion-content padding="false" class="side-menu-left side-menu-gradient">
            <div class="spacer" style="height: 45px;"></div>
            <div class="profile-image">
                <img src="img/Dnntgk5CTaeby5En7J4W_Avatar.png">
            </div>
            <h4 class="text-center">{{currentUser.getName()}}</h4>
            <div class="spacer" style="height: 20px;"></div>
            <hr>

            <ion-list>

                <ion-item ng-if="1==1" menu-close ui-sref="app.guest.home">
                    Inicio
                </ion-item>

                <ion-item ng-if="currentUser.isClient() || currentUser.isSeller()" menu-close ui-sref="app.guest.aguagratis">

                    Aguagratis
                </ion-item>

                <ion-item ng-if="currentUser.isClient() || currentUser.isSeller()" menu-close ui-sref="app.client.tarjetas">

                    Métodos de pago
                </ion-item>

                <!--<ion-item
            ng-if="currentUser.isClient() || currentUser.isSeller()"
            menu-close
            ui-sref="app.client.welcome">
            Mi Cuenta
          </ion-item>-->

                <ion-item ng-if="1==1" menu-close ui-sref="app.cotizador.start">
                    Registro
                </ion-item>

                <ion-item ng-if="(currentUser.isClient() || currentUser.isSeller()) && (currentUser.getClientStatus() == 'accepted' || currentUser.getClientStatus() == 'standby')" menu-close ui-sref="app.client.contrato">
                    Contrato
                </ion-item>

                <ion-item ng-if="(currentUser.isClient() || currentUser.isSeller()) && (currentUser.getClientStatus() == 'invalid')" menu-close ui-sref="app.client.editar-contrato">
                    Contrato
                </ion-item>

                <ion-item menu-close ui-sref="app.client.correccion" ng-if="(currentUser.isClient() || currentUser.isSeller()) && (currentUser.getClientStatus() == 'accepted' || currentUser.getClientStatus() == 'standby' || currentUser.getClientStatus() == 'invalid')">
                    Fotos cocina
                </ion-item>

                <ion-item ng-if="currentUser.isClient() || currentUser.isSeller()" menu-close ui-sref="app.client.charges">
                    Historial de cargos
                </ion-item>

                <ion-item ng-if="currentUser.isClient() || currentUser.isSeller()" menu-close ui-sref="app.client.notificaciones">
                    Notificaciones
                </ion-item>

                <ion-item ng-if="1==1" menu-close ui-sref="app.guest.report">
                    Reportar un problema
                </ion-item>

                <ion-item ng-if="currentUser.isSeller()" menu-close ui-sref="app.seller.contratos" style="margin-bottom:30px;">
                    Revisar contratos
                </ion-item>

                <ion-item ng-if="currentUser.isClient() || currentUser.isSeller()" menu-close ui-sref="app.client.password">
                    <i class="ion-information-circled"></i> Cambiar contraseña
                </ion-item>

                <ion-item ng-if="!(currentUser.isClient() || currentUser.isSeller())" menu-close ui-sref="app.guest.login">
                    <i class="ion-power"></i> Iniciar sesión
                </ion-item>

                <ion-item ng-if="currentUser.isClient() || currentUser.isSeller()" menu-close ng-click="logout()">
                    <i class="ion-power"></i> Cerrar sesión
                </ion-item>
            </ion-list>
        </ion-content>

    </ion-side-menu>
</ion-side-menus>
