.seller-mensual{
	background: white;

	.scroll{
		min-height: 100%;
	}

	.rebaja{
		color:#B00000;
		text-decoration: line-through;
	}

	.description{

		padding:5%;
		background:#CCC;
		color:#000;
		font-family: 'Raleway', sans-serif;
		text-align: left;

		p{
			margin-top:10px;
		}
	}

	strong{
		font-weight:bold;
		font-size:125%;
	}

	.text{
		color:#999;
		font-family: 'Raleway', sans-serif;
		text-align: left;
	}
}
.footer-padding{
	height:90px;
	width:100%;
}