<ion-view title="Cotizador">
 	<ion-content class="seller-mensual">

 		<div class="description">
 			<strong>Renta Mensual</strong>
 			<p>
 				Mencione la siguiente información sobre el pago mensual al cliente.
 			</p>
 		</div>
 		<p class="padding">
 			Aguagente usa 0.7% de todo lo que usted nos paga por nuestro servicio para
 			ayudar a los mas de 2,000,000 de Mexicanos viviendo en pobreza extrema.
 			<br/>
 			<br/>
 			Estamos ayudando a gente en pobreza extrema que viven a menos de 1 hora de su casa. 
 			Le gustaría igualar la contribución que Aguagente hace al programa de Responsabilidad Social para que podamos ayudar a mas gente más rápido?
 		</p>
 		<div class="row row-center">
 			<div class="col-100 text-center">Por mes <strong ng-class="{ 'rebaja' : contractData.mensual < 249 }">${{ contractData.mensual > 249 ? contractData.mensual : '249.00'}}</strong> <strong ng-if="contractData.mensual < 249">${{contractData.mensual | number:2}}</strong></div>
 		</div>
 		<div class="padding">
 			<ion-list>

				<ion-checkbox ng-model="filter.blue" 
							  ng-checked="contractData.responsabilidad"
							  ng-click="toggleResponsabilidad()" 
							  class="item-text-wrap checkbox-dark">
					Responsabilidad social + 0.7%
				</ion-checkbox>

			</ion-list>
 		</div>
 		<div class="footer-padding"></div>
	</ion-content>
	<div class="footer-container">
 		<div class="row row-center">
 			<div class="col-25" style="font-size:80%;">
 				Total mas IVA del pago inicial
 			</div>
 			<div class="col-25 text-center">
 				<strong>${{totalCurrentContract | number:2}}</strong>
 			</div>
 			<div class="col-50">
 				<button type="button" ui-sref="{{$state.includes('app.seller') ? 'app.seller.datos' : 'app.client.contract.fotos' }}" class="button button-block bg-green">
 					Siguiente <i class="ion-chevron-right"></i>
 				</button>
 			</div>
 		</div>
 	</div>
</ion-view>