<ion-content padding="false" class="side-menu-left side-menu-gradient">
  <div class="spacer" style="height: 45px;"></div>
  <div class="profile-image">
    <img src="img/Dnntgk5CTaeby5En7J4W_Avatar.png">
  </div>
  <h4 class="text-center" ng-if="username">{{username}}</h4>
  <h4 class="text-center" ng-if="!username">Bienvenido</h4>
  <div class="spacer" style="height: 20px;"></div>
  <hr>

  <ion-list>
    <ion-item menu-close ui-sref="app.guest.home">
      Inicio
    </ion-item>
    <ion-item menu-close ui-sref="app.guest.beneficios">
      Beneficios
    </ion-item>
    <ion-item menu-close ui-sref="app.guest.media">
      Galería de medios
    </ion-item>
    <ion-item menu-close ui-sref="app.guest.report">
      Reportar un problema
    </ion-item>
    <ion-item menu-close ui-sref="app.cotizador.start">
      <i class="ion-log-in"></i> Cotizador
    </ion-item>
    <ion-item menu-close ui-sref="login">
      <i class="ion-power"></i> Iniciar sesión
    </ion-item>
  </ion-list>
</ion-content>
