<ion-view title="Bienvenido" hide-back-button="true">
 	<ion-content class="seller-welcome" overflow-scroll="true" ng-controller="SellerWelcomeCtrl">
 		<ion-refresher
		    pulling-text="Actualizar..."
		    on-refresh="refreshApp()">
		</ion-refresher>
        
        <video ng-if="!android && src == 'aguagente'" class="video" preload="metadata" controls webkit-playsinline="webkit-playsinline">
			<source ng-src="{{'img/seller/aguagente.mp4' | trustSrc}}" type="video/mp4" />
		</video>

		<video ng-if="!android && src == 'aguagente_sub'" class="video" preload="metadata" controls webkit-playsinline="webkit-playsinline">
			<source ng-src="{{'img/seller/aguagente_sub.mp4' | trustSrc}}" type="video/mp4" />
		</video>

		<ul class="list" style="margin-bottom:0px;">

		  <li class="item item-toggle">
		     English video
		     <label class="toggle toggle-assertive">
		       <input type="checkbox" ng-model="subtitles" ng-change="toggleVideo">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>
		</ul>

		<div ng-if="invalidation" class="assertive padding bold italic">
			* {{ invalidation.reasons }}
		</div>

		<div class="text-center">
			<img ng-if="android" src="img/seller/video.jpg" ng-click="reproducirVideo()" style="width:100%;" /> <br/><br/>
			<!--<button type="button" class="button button-block bg-green"  ng-click="toggleVideo()" style="padding:0px;font-size:100%;">
		        {{src == 'aguagente' ? 'Turn on English subtitles' : 'Turn off English subtitles'}}
		    </button>-->

			<button ng-if="$state.includes('app.seller')" type="button" class="button button-block bg-gray"  ui-sref="app.seller.encuestas" ng-if="currentUser.isClient()">
		        Encuestas
		    </button>

		    <button type="button" class="button button-block bg-green"  ui-sref="{{$state.includes('app.seller') ? 'app.seller.cotizador' : 'app.client.contract.cotizador' }}" style="padding:5px;">
		        {{$state.includes('app.seller') ? 'Cotizar' : 'Editar contrato'}}
		    </button>
		</div>
	</ion-content>
</ion-view>