.seller-welcome{
	background: white;
	
	padding: 8%;

	.scroll{
		min-height: 100%;
	}

	.logo{
		width: 30%;
		margin: 20px auto;
		display: block;
		max-width: 200px;
	}
	.text{
		color:#999;
		font-family: 'Raleway', sans-serif;
		text-align: left;
	}
	.video{
		width:100%;
		height:200px;
	}
	.button{
		padding:15px;
	}
	.button.bg-gray{
		padding:5px;
	}
}