<ion-view title="Invitar">

 	<ion-content class="client-tarjetas">
 		<div class="description">
 			<strong>Listado de contactos</strong>
 			<p>
 				Selecciona tus contactos que tengan correo electrónico a los cuales se les hara llegar la invitación para unirse al servicio de aguagente.
 			</p>
 		</div>

 		<div class="list" style="padding-bottom:100px;">

 			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<input type="text" placeholder="Buscar" ng-model="data.search" />
				</label>
				<button type="button" class="button button-small bg-second" ng-click="filterAmigos()">
					Buscar
				</button>
			</div>

			<a ng-click="toggleFavorite(friend)" class="item item-avatar item-icon-right" ng-class="{'gray': friendsFavorites[friend.id]}" ng-repeat="friend in friends | filter:emailsNotNull | orderBy:'displayName' | orderBy:'name.givenName'">
				<img ng-src="{{friend | contactImage }}" />
				<h2>{{friend | contactName}}</h2>
				<i class="icon" ng-class="{
	 				 'ion-android-checkbox-outline-blank' : !friendsFavorites[friend.id],
	 				 'ion-android-checkbox-outline' : friendsFavorites[friend.id]}"></i>
			</a>

		</div>
	</ion-content>

	<div class="footer-container">
		<div class="row">
			<div class="col">
		 		<div class="text-center">
		 			<button type="button" class="button button-block bg-green" on-tap="selectAll()">
				    	<i class="icon" ng-class="{
	 				 'ion-android-checkbox-outline-blank' : !all,
	 				 'ion-android-checkbox-outline' : all }"></i> Todos
				    </button>
		 		</div>
			</div>
			<div class="col">
				<div class="text-center">
		 			<button type="button" class="button button-block bg-green" on-tap="enviarEmail()">
				        Enviar email
				    </button>
		 		</div>
			</div>
		</div>
 	</div>

</ion-view>
