<ion-view hide-back-button="true" title="Galería de medios">
 	<ion-content class="client-tarjetas">
 		<div class="description">
 			<strong>Galería de medios</strong>
 			<p>
 				Haz click para poder compartir el medio en cualquiera de las opciones disponibles.
 			</p>
 		</div>
 		<div class="padding" ng-hide="medios.length">
 			{{textLoad}}
 		</div>

 		<ion-list>
	        <ion-item click-for-options class="item-icon-right" ng-repeat="item in medios" can-swipe="true">

	        	{{item.title}}
	        	<i class="icon ion-ios-arrow-right"></i>
	        	<ion-option-button class="button-positive"
                   ng-click="openMedia(item)">
  					<span style="margin-left:6px; font-size:30px;" class="ion-social-facebook"></span>
				</ion-option-button>
				<ion-option-button class="button-balanced"
                   ng-click="shareWhatsApp(item)">
  					<span style="margin-left:6px; font-size:30px;" class="ion-social-whatsapp"></span>
				</ion-option-button>
				<ion-option-button class="button-assertive"
                   ng-click="shareEmail(item)">
  					<span style="margin-left:6px; font-size:30px;" class="ion-email"></span>
				</ion-option-button>
	        </ion-item>
	    </ion-list>

	</ion-content>
</ion-view>
