<div class="error assertive" ng-message="required">
	<i class="ion-information-circled"></i> 
	Campo obligatorio!
</div>
<div class="error assertive" ng-message="email">
	<i class="ion-information-circled"></i> 
	Email invalido!
</div>
<div class="error assertive" ng-message="number">
	<i class="ion-information-circled"></i> 
	Campo invalido!
</div>
<div class="error assertive" ng-message="minlength">
	<i class="ion-information-circled"></i> 
	Campo muy corto
</div>
<div class="error assertive" ng-message="maxlength">
	<i class="ion-information-circled"></i> 
	Campo muy largo
</div>