<ion-modal-view class="fondo">
	<ion-header-bar class="bar-principal">
		<div class="buttons">
			<button class="button button-positive bold" ng-click="closeCharge()">Cerrar</button>
		</div>
		<h1 class="title">Ficha de pago</h1>
	</ion-header-bar>
	<ion-content class="nobg padding">
		<div class="text-center">
			<h4>{{charge.description}}</h4>
			<h3 style="color:#888; margin-top:0px; margin-bottom:30px;">${{charge.amount / 100 | number:2}} MXN</h3>
		</div>
		<div style="font-size:15px; font-weight:bold;">
			<span class="ion-flag"></span>  Status:
			<span ng-class="{'assertive': charge.status != 'paid', 
								 'balanced':charge.status == 'paid'}" style="font-size:12px;">
				<span ng-if="charge.status == 'paid'">Exitoso</span>
				<span ng-if="charge.status == 'partially_refunded'">Parcialmente Devuelto</span>
				<span ng-if="charge.status == 'refunded'">Devuelto</span>
				<span ng-if="charge.status == 'pending_payment'">Falló</span>
			</span>
			<hr/>
			<span class="ion-calendar"></span>  Fecha: <span style="color:#888;">{{charge.paid_at | AsDateUnix | date:'dd/MMMM/yyyy HH:mm'}}</span>
			<div ng-if="charge.failure_message">
				<hr>
				<span class="ion-alert-circled"></span>  Mensaje de error: <span style="color:#888;">{{charge.failure_message}}</span>
			</div>
			<div ng-if="charge.payment_method">
				<hr>
				<span class="ion-card"></span>  <span style="color:#000;">{{charge.payment_method.last4}} - {{charge.payment_method.name}}</span>
			</div>
			<div ng-if="charge.amount_refunded">
				<hr>
				<span class="ion-reply"></span>  Devolución del pago: <span style="color:#888;">$ {{charge.amount_refunded/100}}</span>
			</div>
		</div>
	</ion-content>
</ion-modal-view>