<ion-modal-view class="fondo">
	<ion-header-bar class="nobg">
		<div class="buttons">
			<button class="ion-close" ng-click="closeModal()"></button>
		</div>
		<h1 class="title">No estoy registrado</h1>
	</ion-header-bar>
	<ion-content class="nobg">
		<div class="text-center">
			<h4 style="color:#666;">Queremos permanecer en contacto contigo</h4>
		</div>
		<form name="dataContact" novalidate ng-submit="dataContact.$submitted = true; contacto(dataContact);">

 			<div class="list">

				<label class="item item-input item-stacked-label" 
					   ng-class="{ 'has-errors' : dataContact.nombre.$invalid && dataContact.nombre.$dirty || dataContact.$submitted, 'no-errors' : dataContact.nombre.$valid && dataContact.nombre.$dirty}">
					<span class="input-label">
						Nombre
					</span>
					<input type="text" name="nombre" ng-model="data.contact.nombre" required>
				</label>

				<div class="error-container" ng-show="dataContact.nombre.$error && dataContact.nombre.$dirty || dataContact.$submitted" ng-messages="dataContact.nombre.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>

				<label class="item item-input item-stacked-label" 
					   ng-class="{ 'has-errors' : dataContact.correo.$invalid && dataContact.correo.$dirty || dataContact.$submitted, 'no-errors' : dataContact.correo.$valid && dataContact.correo.$dirty}">
					<span class="input-label">
						Correo
					</span>
					<input type="email" name="correo" ng-model="data.contact.correo" required>
				</label>

				<div class="error-container" ng-show="dataContact.correo.$error && dataContact.correo.$dirty || dataContact.$submitted" ng-messages="dataContact.correo.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>


				<label class="item item-input item-stacked-label" 
					   ng-class="{ 'has-errors' : dataContact.telefono.$invalid && dataContact.telefono.$dirty || dataContact.$submitted, 'no-errors' : dataContact.telefono.$valid && dataContact.telefono.$dirty}">
					<span class="input-label">
						Teléfono<br/> 
						<!--<i>En ésta dirección se realizará la instalación y servicios de Aguagente</i>-->
					</span>
					<input type="tel" name="telefono" ng-model="data.contact.telefono">
				</label>

				<div class="error-container" ng-show="dataContact.telefono.$error && dataContact.telefono.$dirty || dataContact.$submitted" ng-messages="dataContact.telefono.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>

				<label class="item item-input item-stacked-label" 
					   ng-class="{ 'has-errors' : dataContact.interesa.$invalid && dataContact.interesa.$dirty || dataContact.$submitted, 'no-errors' : dataContact.interesa.$valid && dataContact.interesa.$dirty}">
					<span class="input-label">
						¿Qué me interesa?
					</span>
					<input type="text" name="interesa" ng-model="data.contact.interesa" required>
				</label>

				<div class="error-container" ng-show="dataContact.interesa.$error && dataContact.interesa.$dirty || dataContact.$submitted" ng-messages="dataContact.interesa.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>

				<label class="item item-input item-stacked-label" 
					   ng-class="{ 'has-errors' : dataContact.mensaje.$invalid && dataContact.mensaje.$dirty || dataContact.$submitted, 'no-errors' : dataContact.mensaje.$valid && dataContact.mensaje.$dirty}">
					<span class="input-label">
						Mensaje
					</span>
					<textarea name="mensaje" ng-model="data.contact.mensaje" required></textarea>
				</label>

				<div class="error-container" ng-show="dataContact.mensaje.$error && dataContact.mensaje.$dirty || dataContact.$submitted" ng-messages="dataContact.mensaje.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>

			</div>

			<div class="padding">
				<button type="submit" class="button button-block bg-green">Enviar</button>
			</div>
 		</form>
	</ion-content>
</ion-modal-view>