<ion-modal-view class="fondo">
	<ion-header-bar>
		
		<h1 class="title">Facebook</h1>
		<div class="buttons">
			<button class="button button-assertive" ng-click="closeModalFace()">Cerrar</button>
		</div>
	</ion-header-bar>
	<ion-content class="padding">
		<p>Gracias por compartir tu experiencia del servicio de Aguagente con tus amigos de Facebook.</p>
		<p>Es un proceso con 3 sencillos pasos:.</p>
		<ul>
			<li><p>1. Con el siguiente botón copiarás el mensaje para pegar en tu muro.</p>
				<p class="text-center"><button class="button button-balanced" ng-click="copyMsgForFacebook(modalItem)">COPIAR</button></p>
			</li>
			<li><p>2. Presiona el siguiente botón para abrir la ventana en tu Facebook y ahí pegar el mensaje copiado.</p>
				<p>Para pegar el texto copiado, deja presionada tu pantalla por 2 segundos para que se despliegue el menú.</p>
				<p class="text-center"><button class="button button-positive" ng-click="shareFacebook(modalItem)"><i class="icon ion-social-facebook"></i> COMPARTIR</button></p>
			</li>
			<li>3. Compartiras un enlace en tu facebook donde tus amigos podran hacer click para poder registrarse a el servicio de
			Aguagente.</li>
		</ul>
		<br>
		<p>El segundo paso es muy importante porque si tus amigos se registran desde tu muro nosotros sabremos que es referido por ti.</p>
		<p>Recuerda si tienes por lo menos 6 referidos empezarás teniendo el servicio de Aguagente de forma gratuita, entre más referidos tengas más ganas.</p>
	</ion-content>
</ion-modal-view>