<ion-modal-view class="fondo">
	<ion-header-bar class="nobg">
		<div class="buttons">
			<button class="button bold" style="color:#888;" ng-click="closeMedia()">Cancelar</button>
		</div>
		<h1 class="title">Facebook</h1>
		<div class="buttons">
			<button class="button bold" style="color:#3B5998;" ng-click="shareIt()">Seguir</button>
		</div>
	</ion-header-bar>
	<ion-content class="nobg padding">
		Gracias por compartir tu experiencia del servicio de Aguagente con tus amigos de facebook. <br/><br/>
		Es un proceso con dos sencillos pasos, por favor completalos.<br/><br/>
		1. Se pondra en tu muro de facebook el registro multimedia que elegiste compartir.<br/>
		2. Compartiras un enlace en tu facebook donde tus amigos podran hacer click para poder registrarse a el servicio de Aguagente.<br/><br/>
		El segundo paso es muy importante porque si tus amigos se registran desde tu muro nosotros sabremos que es referido por ti.<br/><br/>
		Recuerda si tienes por lo menos 6 referidos empezarás teniendo el servicio de Aguagente de forma gratuita, entre más referidos tengas más ganas.
	</ion-content>
</ion-modal-view>