.cotizador {
    img {
        max-width: 100%;
    }

    .rebaja {
        text-decoration: line-through;
        color: red;
    }

    .pull-right {
        float: right;
    }

    form label.item {
        border-color: transparent;
        border-bottom-color: #ddd;
    }

    form .no-label {
        height: 49px;
        select {
            width: 100%;
            max-width: 100%;
            right: unset;
            left: 0;
        }
    }
}

@import "www/app/cotizador/pago/pago.scss";