<ion-view title="Datos del cliente">
    <style>
        /*.steps-register{
      height: 80%;
      overflow: auto;
    }

    body.keyboard-open > div.steps-register{
      height: 60%;
      overflow: auto;
    }*/
    </style>
    <ion-content padding="true" class="has-header cotizador">
        <div class="steps-register">
            <form name="datosContract" ng-submit="createContract(datosContract.$valid)">
                <div class="list">
                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.nombre.$invalid && datosContract.nombre.$dirty, 'no-errors' : datosContract.nombre.$valid && datosContract.nombre.$dirty}">
            <span class="input-label">Nombre completo</span>
            <input placeholder="Nombre completo" type="text" name="nombre" ng-model="contractData.name" required>
          </label>
                    <div class="error-container" ng-show="datosContract.nombre.$error && datosContract.nombre.$dirty" ng-messages="datosContract.nombre.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.email.$invalid && datosContract.email.$dirty, 'no-errors' : datosContract.email.$valid && datosContract.email.$dirty}">
            <span class="input-label">Correo electronico</span>
            <input placeholder="Correo electronico" type="email" name="email" ng-model="contractData.email" required>
          </label>
                    <div class="error-container" ng-show="datosContract.email.$error && datosContract.email.$dirty" ng-messages="datosContract.email.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.phone.$invalid && datosContract.phone.$dirty, 'no-errors' : datosContract.phone.$valid && datosContract.phone.$dirty}">
          <span class="input-label">
            Teléfono o celular
            <!--<i>A este número se le contactará para el proceso de instalación</i>-->
          </span>
            <input placeholder="Teléfono o celular" type="tel" name="phone" ng-model="contractData.phone" required ng-minlength="8" ng-maxlength="20">
          </label>
                    <div class="error-container" ng-show="datosContract.phone.$error && datosContract.phone.$dirty" ng-messages="datosContract.phone.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.address.$invalid && datosContract.address.$dirty, 'no-errors' : datosContract.address.$valid && datosContract.address.$dirty}">
          <span class="input-label">
            Calle y número
            <!--<i>En ésta dirección se realizará la instalación y servicios de Aguagente</i>-->
          </span>
            <input placeholder="Calle y número" type="text" name="address" ng-model="contractData.address" required>
          </label>
                    <div class="error-container" ng-show="datosContract.address.$error && datosContract.address.$dirty" ng-messages="datosContract.address.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.between_streets.$invalid && datosContract.between_streets.$dirty, 'no-errors' : datosContract.between_streets.$valid && datosContract.between_streets.$dirty}">
          <span class="input-label">
            Entre calles
            <!--<i>En ésta dirección se realizará la instalación y servicios de Aguagente</i>-->
          </span>
            <input placeholder="Entre calles" type="text" name="between_streets" ng-model="contractData.between_streets">
          </label>
                    <div class="error-container" ng-show="datosContract.between_streets.$error && datosContract.between_streets.$dirty" ng-messages="datosContract.between_streets.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.colony.$invalid && datosContract.colony.$dirty, 'no-errors' : datosContract.colony.$valid && datosContract.colony.$dirty}">
          <span class="input-label">
            Colonia
          </span>
            <input placeholder="Colonia" type="text" name="colony" ng-model="contractData.colony" required>
          </label>
                    <div class="error-container" ng-show="datosContract.colony.$error && datosContract.colony.$dirty" ng-messages="datosContract.colony.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.county.$invalid && datosContract.county.$dirty, 'no-errors' : datosContract.county.$valid && datosContract.county.$dirty}">
          <span class="input-label">
            Ciudad
          </span>
            <input placeholder="Ciudad" type="text" name="county" ng-model="contractData.county" required>
          </label>
                    <div class="error-container" ng-show="datosContract.county.$error && datosContract.county.$dirty" ng-messages="datosContract.county.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.state.$invalid && datosContract.state.$dirty, 'no-errors' : datosContract.state.$valid && datosContract.state.$dirty}">
          <span class="input-label">
            Estado
          </span>
            <input placeholder="Estado" type="text" name="state" ng-model="contractData.state" required>
          </label>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.postal_code.$invalid && datosContract.postal_code.$dirty, 'no-errors' : datosContract.postal_code.$valid && datosContract.postal_code.$dirty}">
          <span class="input-label">
            Código Postal
          </span>
            <input placeholder="Código Postal" type="tel" name="postal_code" ng-model="contractData.postal_code" required ng-minlength="5">
          </label>
                    <div class="error-container" ng-show="datosContract.postal_code.$error && datosContract.postal_code.$dirty" ng-messages="datosContract.postal_code.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>
                    <ion-item class="item-thumbnail-left">
                        <img ng-if="contractFotos[6]" ng-src="{{contractFotos[6]}}" ng-click="captureImage(6)" />
                        <img ng-if="!contractFotos[6]" src="/img/seller/cfe.png" ng-click="captureImage(6)" />
                        <h2>Comprobante de Domicilio</h2>
                        <p>Recibo de luz, agua, etc</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img ng-if="contractFotos[7]" ng-src="{{contractFotos[7]}}" ng-click="captureImage(7)" />
                        <img ng-if="!contractFotos[7]" src="/img/seller/profile.png" ng-click="captureImage(7)" />
                        <h2>Foto del cliente
                            <small>(opcional)</small>
                        </h2>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img ng-if="contractFotos[8]" ng-src="{{contractFotos[8]}}" ng-click="captureImage(8)" />
                        <img ng-if="!contractFotos[8]" src="/img/seller/ife1.png" ng-click="captureImage(8)" />
                        <h2>Identificación oficial</h2>
                        <p>Frontal</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left">
                        <img ng-if="contractFotos[9]" ng-src="{{contractFotos[9]}}" ng-click="captureImage(9)" />
                        <img ng-if="!contractFotos[9]" src="/img/seller/ife2.png" ng-click="captureImage(9)" />
                        <h2>Identificación oficial</h2>
                        <p>Anverso</p>
                    </ion-item>
                </div>
            </form>
        </div>
        <div>
            <button type="button" ng-disabled="datosContract.$invalid" ui-sref="app.cotizador.pago()" class="button button-balanced button-block">Continuar</button>
        </div>
    </ion-content>
</ion-view>