.client-contract{
	background:white;
	padding: 8%;

	.scroll{
		min-height: 100%;
	}

	.text{
		color: #444;
		h3{
			font-family: 'Raleway', sans-serif;
			font-size: 1.2em;
			padding-bottom: 5px;
			border-bottom: #CCC 1px solid;
		}
		span{
			font-weight: 500;
			color: black;
		}
	}

}