<ion-view hide-back-button="true" title="Contrato">
    <ion-content scroll="false" class="has-header client-contract" has-bouncing="false" padding="true">

        <div class="card assertive-bg" ng-if="contractData.invalidation">
            <div class="item item-text-wrap assertive-bg" style="color: #FFF;">
                {{contractData.invalidation.reasons}}
            </div>
        </div>

        <div ng-show="stepOne" class="steps">
            <h4>Depósito</h4>
            <div class="show-list-numbers-and-dots text-right">
                <p ng-class="{ 'rebaja' : deposito < 2000 } ">${{ deposito > 2000 ? (deposito | number:2) : '2,000.00'}}</p>
                <p ng-if="deposito < 2000 ">
                    <strong>${{deposito | number:2}}</strong>
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <p>Se te regresará el depósito a la hora de la cancelación, siempre y cuando estés al corriente con tus mensualidades.
                    </p>
                </div>
            </div>

            <h4>Mensualidad</h4>
            <div class="show-list-numbers-and-dots text-right">
                <p ng-class="{ 'rebaja' : group.monthly_fee/100 < 349 }">${{'349.00'}}</p>
                <p ng-if="true">
                    <strong>${{group.monthly_fee/100 | number:2}}</strong>
                </p>
            </div>

            <div ng-show="isValidCupon">
                <h4>Cupón {{contractData.cupon}}</h4>
                <div class="show-list-numbers-and-dots text-right">
                    <p ng-if="true">
                        <strong>- ${{descuento | number:2}}</strong>
                    </p>
                </div>
            </div>
            <div>

                <h4>Material</h4>
                <div ng-if="errorMaterial" class="error assertive">
                    <i class="ion-information-circled"></i> Debe seleccionar un material para su instalación
                </div>
                <ion-list>
                    <ion-checkbox ng-click="changeMaterial(element, $event)" ng-checked="contractData.material.id_categories_elements == element.id_categories_elements" ng-repeat="element in material.elements" class="item-text-wrap">
                        {{element.name}} <strong class="pull-right">${{element.price | number:2}}</strong>
                    </ion-checkbox>
                </ion-list>
                <div class="spacer" style="height: 10px;"></div>
            </div>

            <div ng-repeat="category in categories | filter:{'name':'!Material'}">
                <h4>{{category.name}}</h4>
                <ion-list>
                    <ion-checkbox class="item-text-wrap" ng-checked="contractData.elements[extra.id_categories_elements]" ng-repeat="extra in category.elements" ng-click="clickExtra($event,extra)">
                        {{extra.name}} <strong class="pull-right">${{extra.price | number:2}}</strong>
                    </ion-checkbox>
                </ion-list>
                <div class="spacer" style="height: 10px;"></div>
            </div>

            <div>
                <h4>Responsabilidad social</h4>
                <div class="show-list-numbers-and-dots">
                    <p>Aguagente utiliza el 0.7% de todo lo que nos paga por nuestro servicio para ayudar a 2 millones de mexicanos viviendo en pobreza extrema.</p>
                    <p>Estamos ayudando a gente en pobreza extrema que viven a menos de 1 hora de su casa.</p>
                    <p>¿Te gustaría igualar la contribución que Aguagente hace al programa de Responsabilidad Social para que podamos ayudar a mas gente más rápido?</p>
                </div>

                <ion-checkbox ng-model="filter.blue" ng-checked="contractData.client.social_responsability" ng-click="toggleResponsabilidad()">
                    Responsabilidad social + 0.7%
                </ion-checkbox>
                <div class="spacer" style="height: 60px;"></div>
            </div>


            <div class="bar bar-footer bar-balanced">
                <div class="row row-center">
                    <div class="col-25" style="font-size:80%;">
                        Total mas IVA del pago inicial
                    </div>
                    <div class="col-25 text-center">
                        <strong>${{totalCurrentContract | number:2}}</strong>
                    </div>
                    <div class="col-50">
                        <button type="button" ng-click="changeStep(1, true)" class="button button-block button-positive">
              Siguiente
              <i class="ion-chevron-right"></i>
            </button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="stepTwo" class="steps">
            <div class="list">
                <form name="datosContract" ng-submit="updateContract(datosContract.$valid)">
                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.nombre.$invalid && datosContract.nombre.$dirty, 'no-errors' : datosContract.nombre.$valid && datosContract.nombre.$dirty}">
            <span class="input-label">Nombre completo</span>
            <input placeholder="Nombre completo" type="text" name="nombre" ng-model="contractData.client.name"
                   required>
          </label>
                    <div class="error-container" ng-show="datosContract.nombre.$error && datosContract.nombre.$dirty" ng-messages="datosContract.nombre.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.email.$invalid && datosContract.email.$dirty, 'no-errors' : datosContract.email.$valid && datosContract.email.$dirty}">
            <span class="input-label">Correo electronico</span>
            <input placeholder="Correo electronico" type="email" name="email" ng-model="contractData.client.email"
                   required>
          </label>
                    <div class="error-container" ng-show="datosContract.email.$error && datosContract.email.$dirty" ng-messages="datosContract.email.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.phone.$invalid && datosContract.phone.$dirty, 'no-errors' : datosContract.phone.$valid && datosContract.phone.$dirty}">
          <span class="input-label">
            Teléfono o celular
            <!--<i>A este número se le contactará para el proceso de instalación</i>-->
          </span>
            <input placeholder="Teléfono o celular" type="tel" name="phone" ng-model="contractData.client.phone"
                   required
                   ng-minlength="8" ng-maxlength="20">
          </label>
                    <div class="error-container" ng-show="datosContract.phone.$error && datosContract.phone.$dirty" ng-messages="datosContract.phone.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.address.$invalid && datosContract.address.$dirty, 'no-errors' : datosContract.address.$valid && datosContract.address.$dirty}">
          <span class="input-label">
            Calle y número
            <!--<i>En ésta dirección se realizará la instalación y servicios de Aguagente</i>-->
          </span>
            <input placeholder="Calle y número" type="text" name="address" ng-model="contractData.client.address"
                   required>
          </label>
                    <div class="error-container" ng-show="datosContract.address.$error && datosContract.address.$dirty" ng-messages="datosContract.address.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.between_streets.$invalid && datosContract.between_streets.$dirty, 'no-errors' : datosContract.between_streets.$valid && datosContract.between_streets.$dirty}">
          <span class="input-label">
            Entre calles
            <!--<i>En ésta dirección se realizará la instalación y servicios de Aguagente</i>-->
          </span>
            <input placeholder="Entre calles" type="text" name="between_streets"
                   ng-model="contractData.client.between_streets">
          </label>
                    <div class="error-container" ng-show="datosContract.between_streets.$error && datosContract.between_streets.$dirty" ng-messages="datosContract.between_streets.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.colony.$invalid && datosContract.colony.$dirty, 'no-errors' : datosContract.colony.$valid && datosContract.colony.$dirty}">
          <span class="input-label">
            Colonia
          </span>
            <input placeholder="Colonia" type="text" name="colony" ng-model="contractData.client.colony" required>
          </label>
                    <div class="error-container" ng-show="datosContract.colony.$error && datosContract.colony.$dirty" ng-messages="datosContract.colony.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.county.$invalid && datosContract.county.$dirty, 'no-errors' : datosContract.county.$valid && datosContract.county.$dirty}">
          <span class="input-label">
            Ciudad
          </span>
            <input placeholder="Ciudad" type="text" name="county" ng-model="contractData.client.county" required>
          </label>
                    <div class="error-container" ng-show="datosContract.county.$error && datosContract.county.$dirty" ng-messages="datosContract.county.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.state.$invalid && datosContract.state.$dirty, 'no-errors' : datosContract.state.$valid && datosContract.state.$dirty}">
          <span class="input-label">
            Estado
          </span>
            <input placeholder="Estado" type="text" name="state" ng-model="contractData.client.state" required>
          </label>

                    <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : datosContract.postal_code.$invalid && datosContract.postal_code.$dirty, 'no-errors' : datosContract.postal_code.$valid && datosContract.postal_code.$dirty}">
          <span class="input-label">
            Código Postal
          </span>
            <input placeholder="Código Postal" type="tel" name="postal_code"
                   ng-model="contractData.client.postal_code"
                   required ng-minlength="5">
          </label>
                    <div class="error-container" ng-show="datosContract.postal_code.$error && datosContract.postal_code.$dirty" ng-messages="datosContract.postal_code.$error">
                        <div ng-messages-include="app/main/error-list.html"></div>
                    </div>
                    <hr>
                </form>
            </div>
            <div class="container-files">
                <ion-item class="item-thumbnail-left">
                    <img ng-if="contractData.upload_documents.proof_of_address" src="{{contractData.upload_documents.proof_of_address}}" ng-click="captureImage(6)" />
                    <img ng-if="!contractData.upload_documents.proof_of_address" src="/img/seller/cfe.png" ng-click="captureImage(6)" />
                    <h2>Comprobante de Domicilio</h2>
                    <p>Recibo de luz, agua, etc</p>
                </ion-item>
                <ion-item class="item-thumbnail-left">
                    <img ng-if="contractData.upload_documents.profile" src="{{contractData.upload_documents.profile}}" ng-click="captureImage(7)" />
                    <img ng-if="!contractData.upload_documents.profile" src="/img/seller/profile.png" ng-click="captureImage(7)" />
                    <h2>Foto del cliente
                        <small>(opcional)</small>
                    </h2>
                </ion-item>
                <ion-item class="item-thumbnail-left">
                    <img ng-if="contractData.upload_documents.id" src="{{contractData.upload_documents.id}}" ng-click="captureImage(8)" />
                    <img ng-if="!contractData.upload_documents.id" src="/img/seller/ife1.png" ng-click="captureImage(8)" />
                    <h2>Identificación oficial</h2>
                    <p>Frontal</p>
                </ion-item>
                <ion-item class="item-thumbnail-left">
                    <img ng-if="contractData.upload_documents.id_reverse" src="{{contractData.upload_documents.id_reverse}}" ng-click="captureImage(9)" />
                    <img ng-if="!contractData.upload_documents.id_reverse" src="img/seller/ife2.png" ng-click="captureImage(9)" />
                    <h2>Identificación oficial</h2>
                    <p>Anverso</p>
                </ion-item>
            </div>

            <div class="bar bar-footer bar-balanced">
                <div class="row row-center">
                    <div class="col-50">
                        <button type="button" ng-click="changeStep(2, false)" class="button button-positive">
              Regresar
              <i class="ion-chevron-left"></i>
            </button>
                    </div>

                    <div class="col-50">
                        <button type="button" ng-disabled="datosContract.$invalid" ng-click="saveContract()" class="button button-positive">
              Guardar Información
              <i class="ion-archive"></i>
            </button>
                    </div>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>