<ion-view hide-back-button="true" title="Métodos de pago">
  <ion-content class="client-tarjetas" padding="true">
    <div class="description">
      <strong>Listado de tarjetas</strong>
      <p>
        Desliza o haz click para eliminar o marcar como principal la tarjeta que quieras
      </p>
    </div>
    <div ng-hide="cards.length">
      No se encontraron tarjetas
    </div>
    <ion-list>
      <ion-item click-for-options class="item-icon-right" ng-repeat="item in cards" can-swipe="true">

        <span class="ion-star" ng-if="item.default" style="margin-right:10px;"></span>******{{item.last4}}
        <span class="item-note">{{item.brand}} {{item.exp_month}}/{{item.exp_year}}</span>
        <i class="icon ion-ios-arrow-right"></i>
        <ion-option-button ng-show="!item.default" class="button-positive"
                           ng-click="principal(item)">
          Principal
        </ion-option-button>
        <ion-option-button class="button-assertive"
                           ng-click="eliminar(item,$index)">
          Eliminar
        </ion-option-button>
      </ion-item>
    </ion-list>

    <!--<div ng-if="!amex" class="description" style="background:#ef473a; color:#fff; padding:10px;">
      <strong>Precaución</strong>
      <p>
        Se te cobrará una comisión bancaria por contar con American Express. Ver detalles en la sección "Contrato".
      </p>
    </div>-->

    <button type="button" class="button button-block bg-green" ui-sref="app.client.tarjeta" style="margin-top:10px;">
      Agregar tarjeta
    </button>

    <div ng-if="!currentUser.isFirstPayment()">
      <div class="description">
        <strong>Forma de pago</strong>
        <p>Tus cargos extras y el depósito se pueden pagar a meses sin intereses.</p>
        <p>Estos se pueden observar en la sección contrato.</p>
      </div>

      <ion-list>
        <ion-radio ng-model="data.monthly_installments" ng-value="'1'">Pago único</ion-radio>
        <ion-radio ng-model="data.monthly_installments" ng-value="'3'">3 meses</ion-radio>
        <ion-radio ng-model="data.monthly_installments" ng-value="'6'">6 meses</ion-radio>
        <ion-radio ng-model="data.monthly_installments" ng-value="'9'">9 meses</ion-radio>
        <ion-radio ng-model="data.monthly_installments" ng-value="'12'">12 meses</ion-radio>
      </ion-list>

      <button type="button" ng-click="enviarFormaPago()" class="button button-block bg-green" style="margin-top:10px;">
        Guardar
      </button>

    </div>
  </ion-content>
</ion-view>
