<ion-view title="Tarjeta">
 	<ion-content class="client-tarjeta">
	 		<form novalidate action="" ng-submit="enviar()">
	 			<div class="list">
		 			<label class="item item-input item-stacked-label">
						<span class="input-label">Número de tarjeta</span>
						<input type="tel" name="nombre" ng-model="data.card_number" required>
					</label>

					<label class="item item-input item-stacked-label">
						<span class="input-label">CVC</span>
						<input type="tel" maxlength="4" name="nombre" ng-model="data.cvc" required>
					</label>


					<div class="row">
						<div class="col">
							<p>Mes que expira</p>
							<input type="hidden" ng-model="data.expiration_month" required>
							<button type="button" class="button button-light button-block icon-right ion-arrow-down-b popover-opener" ng-click="openPopover($event, 'cc-month.html')">{{data.expiration_month}}</button>
						</div>
						<div class="col">
							<p>Año que expira</p>
							<input type="hidden" ng-model="data.expiration_year" required>
							<button type="button" class="button button-light button-block icon-right ion-arrow-down-b popover-opener" ng-click="openPopover($event, 'cc-year.html')">{{data.expiration_year}}</button>
						</div>
					</div>

		 			<!--<label class="item item-input item-select">
					    <div class="input-label">
					      Mes Expira
					    </div>
					    <select ng-model="data.expiration_month">
			 				<option value="01">01</option>
			 				<option value="02">02</option>
			 				<option value="03">03</option>
			 				<option value="04">04</option>
			 				<option value="05">05</option>
			 				<option value="06">06</option>
			 				<option value="07">07</option>
			 				<option value="08">08</option>
			 				<option value="09">09</option>
			 				<option value="10">10</option>
			 				<option value="11">11</option>
			 				<option value="12">12</option>
			 			</select>
					</label>
	  				<label class="item item-input item-select">
					    <div class="input-label">
					      Año Expira
					    </div>
					    <select ng-model="data.expiration_year">
			 				<option value="2020">2020</option>
			 				<option value="2021">2021</option>
			 				<option value="2022">2022</option>
			 				<option value="2023">2023</option>
			 				<option value="2024">2024</option>
			 				<option value="2025">2025</option>
			 				<option value="2026">2026</option>
			 				<option value="2027">2027</option>
			 				<option value="2028">2028</option>
			 				<option value="2029">2029</option>
			 			</select>
					 </label>-->


					 <label class="item item-input item-select">
						<div class="input-label">
							Tipo de tarjeta
						</div>
						<input type="hidden" ng-model="tarjeta.bank" required>
						<button type="button" class="button button-light button-block " ng-click="openPopover($event, 'cc-brand.html')">{{data.bank}}</button>
					</label>




		 			<!--<label class="item item-input item-select">
					    <div class="input-label">
					      Tipo de tarjeta
					    </div>
					    <select ng-model="data.bank">
			 				<option value="visa">VISA</option>
			 				<option value="mastercard">MASTERCARD</option>
			 				<option value="amex" ng-if="!currentUser.isFirstPayment() || amex">AMEX</option>
			 			</select>
					</label>-->
				</div>

				<button ng-if="data.bank == 'amex' && !currentUser.isFirstPayment()" type="button" class="button button-full button-assertive">
					Precaución: se te cobrara una comisión bancaria por elegir american express
				</button>



				<div class="padding">
					<button type="button" class="button button-block bg-green" ng-click="enviar()">Guardar</button>
				</div>
	 		</form>
	</ion-content>
</ion-view>



<script id="cc-month.html" type="text/ng-template">
	<ion-popover-view>
	  <ion-header-bar>
		<h1 class="title">Mes de expiración</h1>
	  </ion-header-bar>
	  <ion-content>
		  <ul class="list">
			  <li class="item" ng-click="setMonth('01')">01</li>
			  <li class="item" ng-click="setMonth('02')">02</li>
			  <li class="item" ng-click="setMonth('03')">03</li>
			  <li class="item" ng-click="setMonth('04')">04</li>
			  <li class="item" ng-click="setMonth('05')">05</li>
			  <li class="item" ng-click="setMonth('06')">06</li>
			  <li class="item" ng-click="setMonth('07')">07</li>
			  <li class="item" ng-click="setMonth('08')">08</li>
			  <li class="item" ng-click="setMonth('09')">09</li>
			  <li class="item" ng-click="setMonth('10')">10</li>
			  <li class="item" ng-click="setMonth('11')">11</li>
			  <li class="item" ng-click="setMonth('12')">12</li>
		  </ul>
	  </ion-content>
	</ion-popover-view>
  </script>
  
  <script id="cc-year.html" type="text/ng-template">
	<ion-popover-view>
	  <ion-header-bar>
		<h1 class="title">Año de expiración</h1>
	  </ion-header-bar>
	  <ion-content>
		  <ul class="list">
			  <li class="item" ng-click="setYear('2020')">2020</li>
			  <li class="item" ng-click="setYear('2021')">2021</li>
			  <li class="item" ng-click="setYear('2022')">2022</li>
			  <li class="item" ng-click="setYear('2023')">2023</li>
			  <li class="item" ng-click="setYear('2024')">2024</li>
			<li class="item" ng-click="setYear('2025')">2025</li>
			<li class="item" ng-click="setYear('2026')">2026</li>
			<li class="item" ng-click="setYear('2027')">2027</li>
			<li class="item" ng-click="setYear('2028')">2028</li>
			<li class="item" ng-click="setYear('2029')">2029</li>
		  </ul>
	  </ion-content>
	</ion-popover-view>
  </script>
  
  <script id="cc-brand.html" type="text/ng-template">
	<ion-popover-view>
	  <ion-header-bar>
		<h1 class="title">Tipo de tarjeta</h1>
	  </ion-header-bar>
	  <ion-content>
		  <ul class="list">
			  <li class="item" ng-click="setBrand('visa')">VISA</li>
			  <li class="item" ng-click="setBrand('mastercard')">MASTERCARD</li>
			  <li class="item" ng-click="setBrand('amex')">AMEX</li>
		  </ul>
	  </ion-content>
	</ion-popover-view>
  </script>
  
  <script id="cc-forma.html" type="text/ng-template">
	<ion-popover-view>
	  <ion-header-bar>
		<h1 class="title">Forma de pago</h1>
	  </ion-header-bar>
	  <ion-content>
		  <ul class="list">
			  <li class="item" ng-repeat="(key,value) in fee" ng-click="setForma(key)">
				  {{ key != 1 ? key + ' meses' : 'Pago único' }}
			  </li>
		  </ul>
	  </ion-content>
	</ion-popover-view>
  </script>