<ion-view title="">
    <ion-content padding="true" class="manual-remove-top-padding" scroll="false">
        <div class="description">
            <img src="{{medio.img}}" ng-if="medio.isImg">
            <h3>{{medio.header}}</h3>
            <p>{{medio.description}}</p>
            <br>
            <div class="embed-responsive embed-responsive-16by9" ng-if="!medio.isImg">
                <youtube-video class="embed-responsive-item" video-id="medio.video" player="bestPlayer"></youtube-video>
            </div>

            <div class="button-bar" ng-if="currentUser.isClient() || currentUser.isSeller()">
                <a class="button button-balanced button-block" ng-click="openActionsheet(medio)">Compartir</a>
            </div>
        </div>

    </ion-content>
</ion-view>
