<ion-view title="Reportar Problema">
  <ion-content padding="true" class="has-header guest-home">
    <!--<h4>Reportar Problema</h4>-->

    <form name="reportContact">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Nombre</span>
          <input type="text" required placeholder="Nombre" ng-model="data.name">
        </label>

        <label class="item item-input item-select item-floating-label">
          <span class="input-label">Asunto</span>
          <select placeholder="Asunto" required ng-model="data.asunto">
            <option value="">Seleccione un asunto</option>
            <option value="{{subject.id}}" ng-repeat="subject in subjects track by subject.id">{{subject.name}}</option>
          </select>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Correo</span>
          <input type="email" placeholder="Correo" ng-model="data.email">
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Descripción</span>
          <textarea rows="10" placeholder="Describe el problema presentado" ng-model="data.msg"></textarea>
        </label>
      </div>
      <div class="button-bar">
        <a class="button button-balanced button-block" ng-click="sendMessage(reportContact)">REPORTAR</a>
      </div>
    </form>
  </ion-content>
</ion-view>
