.seller-cotizador{
	background: white;

	.scroll{
		min-height: 100%;
	}

	.rebaja{
		color:#B00000;
		text-decoration: line-through;
	}

	.description{

		padding:5%;
		background:#CCC;
		color:#000;
		font-family: 'Raleway', sans-serif;
		text-align: left;

		p{
			margin-top:10px;
		}
	}

	strong{
		font-weight:bold;
		font-size:125%;
	}

	.text{
		color:#999;
		font-family: 'Raleway', sans-serif;
		text-align: left;
	}
	.materiales{
		.material{
			position:relative;
			display:inline-block;
			width:46%;
			margin-left:2%;
			margin-top:10px;

			img{
				width:100%;
			}
		}

		.texto{
			position:absolute;
			bottom:5px;
			background: rgba(0,0,0,0.8);
			padding:5px 0px;
			text-align:center;
			color:#fff;
			width:100%;
		}

		.checked{
			position:absolute;
			top:5px;
			right:5px;
			font-size:30px;
			color:#fff;
		}
	}
}
.footer-padding{
	height:90px;
	width:100%;
}