<ion-view title="Cotizador">
 	<ion-content class="seller-cotizador">
 		<div class="description">
 			<strong>Costo de la instalación</strong>
 			<p>
 				Mencione el precio inicial de instalación y seleccione los materiales para la instalación.
 			</p>
 		</div>

 		<div class="row">
 			<div class="col-50"><strong>Depósito</strong></div>
 			<div class="col-50 text-right"><strong ng-class="{ 'rebaja' : deposito < 2000 }">${{ deposito > 2000 ? (deposito | number:2)  : '2,000.00'}}</strong></div>
 		</div>

 		<div class="row" ng-if="deposito < 2000">
 			<div class="col-50 col-offset-50 text-right"><strong>${{deposito | number:2}}</strong></div>
 		</div>

 		<div class="row">
 			<div class="col">
 				Se le regresará el depósito a la hora de la cancelación, siempre y cuando esté al corriente con sus mensualidades.
 			</div>
 		</div>
 		<hr/>
 		<div ng-if="group.trial_days > 0">
 			<div class="row">
	 			<div class="col-50"><strong>Promoción</strong></div>
	 		</div>
	 		<div class="row">
	 			<div class="col">
	 				{{group.trial_days | DiasMes}} meses 
	 				<span ng-if="group.trial_days_price > 0">por ${{ (group.trial_days_price / 100) | number:2}} MXN</span>
	 				<span ng-if="group.trial_days_price <= 0">gratis</span>
	 			</div>
	 		</div>
			<hr/>
		</div>

		<div class="padding">
 			<ion-list>

 				<label class="item item-input item-stacked-label">
					<span class="input-label">Cupón existente</span>
					<input type="text" name="cupon" ng-model="contractData.cupon" required>
				</label>

			</ion-list>
		</div>

 		<div class="row">
 			<div class="col-50"><strong>Material</strong></div>
 		</div>
 		<div class="row">
 			<div class="col">
 				Material a perforar para instalación de llave
 			</div>
 		</div>
 		<ion-list>
			<ion-checkbox ng-click="changeMaterial(element)" 
						  ng-checked="contractData.material.id_categories_elements == element.id_categories_elements" 
						  class="item-text-wrap checkbox-dark"
						  ng-repeat="element in material.elements">
				{{element.name}} <br/> <strong>${{element.price | number:2}}</strong>
			</ion-checkbox>
		</ion-list>
 		<div class="footer-padding"></div>
	</ion-content>

	<div class="footer-container">
 		<div class="row row-center">
 			<div class="col-25" style="font-size:80%;">
 				Total mas IVA del pago inicial
 			</div>
 			<div class="col-25 text-center">
 				<strong>${{totalCurrentContract | number:2}}</strong>
 			</div>
 			<div class="col-50">
 				<button type="button" ui-sref="{{$state.includes('app.seller') ? 'app.seller.extras' : 'app.client.contract.extras' }}" class="button button-block bg-green">
 					Siguiente <i class="ion-chevron-right"></i>
 				</button>
 			</div>
 		</div>
 	</div>

</ion-view>