.bgLogin{
	background: url(../img/login-bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.login{

	padding: 5%;

	.logo{
		width: 100%;
		margin: 30px auto;
		display: block;
	}

	.remember{
		background:none;
		border:none;
		margin-top:10px;
		color:#fff; padding:3px; display:inline-block; font-weight:bold;
		i {
			font-size:30px; margin-left:10px; vertical-align:middle;
		}
	}

	.text{
		  color: #FFFFFF;
		  margin: 15px auto;
		  text-align: center;
	}


	input{
		width: 100%;
    	margin: 10px 0;
    	height: 40px;
    	padding-left: 10px;
    	background-color: rgba(255,255,255,0.3);
    	border-bottom: #FFFFFF;
    	border-bottom-style: solid;
    	border-bottom-width: 1px;
    	color: #FFFFFF;
	}
	
	input::-webkit-input-placeholder { color: #FFFFFF;}
	input:-moz-placeholder { color: #FFFFFF; }
	input::-moz-placeholder { color: #FFFFFF; }
	input:-ms-input-placeholder { color: #FFFFFF; }



}