<ion-view title="Iniciar Sesión" hide-nav-bar="false" class="bgLogin">
  <ion-content class="login">
    <form name="loginForm" class="form list" ng-submit="ingresar()">
      <div>
        <img src="img/slider/IdPHtiemSAep52azQyW6_Banner.jpg"
             style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Usuario" ng-model="data.username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Contraseña" ng-model="data.password">
        </div>
        <!--<div class="form-group">
          <button ng-click="changeRemember()" type="button" class="remember">
            <i
              ng-class="{'ion-android-checkbox-outline-blank' : !remember , 'ion-android-checkbox-outline' : remember}"></i>
            Recordarme
          </button>
        </div>-->
      </ion-list>
      <button type="submit" class="button button-balanced button-block">Iniciar sesión</button>
      <!--<button class="button button-block" style="background:#3B5998; color:#fff;" type="button"
              ng-click="ingresarFacebook()">
        Ingresar con facebook
      </button>-->
      <a ng-click="forget()" style="color: #FFF;" type="button" class="forgetLogin">¿Olvidaste tu contraseña?</a><br/>
      <div class="spacer" style="height: 12px;"></div>
      <a ui-sref="app.cotizador.start" class="button button-positive button-block">O crea una cuenta nueva</a>
    </form>
  </ion-content>

</ion-view>

