<ion-header-bar class="bg-green">
    <h1 class="title"><img src="img/logo-aguagente-white.png" height="65" /></h1>
</ion-header-bar>
<ion-content>
    <ion-list>
        <ion-item menu-close href="#/app/client/welcome">
            Quienes somos
        </ion-item>
        <ion-item menu-close ui-sref="app.client.tarjetas">
            Métodos de pago
        </ion-item>

        <ion-item menu-close ui-sref="app.client.contract.cotizador" ng-if="currentUser.getClientStatus() == 'invalid'">
            Contrato
        </ion-item>

        <ion-item menu-close ui-sref="app.client.contrato" ng-if="currentUser.getClientStatus() == 'accepted' || currentUser.getClientStatus() == 'standby'">
            Contrato
        </ion-item>

        <ion-item menu-close ui-sref="app.client.correccion" ng-if="currentUser.getClientStatus() == 'accepted' || currentUser.getClientStatus() == 'standby'">
            Fotos cocina
        </ion-item>

        <ion-item menu-close ui-sref="app.client.media">
            Galería de medios
        </ion-item>

        <ion-item menu-close ui-sref="app.client.charges">
            Historial de cargos
        </ion-item>

        <ion-item menu-close href="#/app/client/notificaciones">
            Notificaciones
        </ion-item>

        <ion-item menu-close ng-click="reportarProblema()" style="margin-bottom:30px;">
            Reportar un problema
        </ion-item>

        <ion-item menu-close ng-click="changeMenu('seller')" ng-if="currentUser.getClientStatus() != 'canceled' && currentUser.getClientStatus() != 'rejected'">
            <i class="ion-log-in"></i> Cotizador <span class="badge badge-assertive" ng-if="getManyContracts() > 0">{{getManyContracts()}}</span>
        </ion-item>
        <ion-item menu-close ui-sref="app.client.password">
            <i class="ion-information-circled"></i> Cambiar password
        </ion-item>
        <ion-item menu-close ng-click="logout()">
            <i class="ion-power"></i> Cerrar sesión
        </ion-item>
    </ion-list>
</ion-content>