<ion-view hide-back-button="true" title="Quienes Somos">
 	<ion-content class="client-welcome" padding="true">

    <ion-refresher
      pulling-text="Actualizar..."
      on-refresh="refreshApp()">
    </ion-refresher>

    <div class="text-center">
      <img width="50%" class="logo" src="img/logo-aguagente.png"/>
    </div>

    <div class="text mt-20">
			Aguagente le agradece por su interés en unirse a nuestro servicio.
			<br><br>
			Si no ha seleccionado y capturado los datos de su método de pago, amablemente le solicitamos que siga los pasos sencillos para hacerlo. Una vez completado y aprobado, le contactarémos para agendar su fecha de instalación.
			<br><br>
			Siga los sencillos pasos para referir 6 personas y disfruta de ‘Agua Gratis’.
			<br><br>
			Su estatus es: <strong>{{ currentUser.getClientLevel() }}</strong>
		</div>

		<div class="text-center">

		    <button type="button"
		    	class="button button-block bg-green"
		    	ng-if="currentUser.getClientStatus() != 'invalid'"
		    	ui-sref="app.client.contrato">
		        Ver mi contrato
		    </button>

		    <button type="button"
		    	class="button button-block bg-green"
		    	ng-if="currentUser.getClientStatus() == 'invalid'"
		    	ui-sref="app.client.contract.cotizador">
		        Ver mi contrato
		    </button>

		    <button type="button" class="button button-block" style="background:#3B5998; color:#fff;" ng-click="referirFace()">
		        Referir por facebook
		    </button>

		    <button type="button" class="button button-block button-balanced" style="color:#fff;" ng-click="referirWhatsApp()">
		        Referir por whatsapp
		    </button>

		    <button type="button" class="button button-block bg-green" ui-sref="app.client.contactos">
		        Invitar a contactos
		    </button>
		</div>
	</ion-content>
</ion-view>
