<ion-view hide-back-button="true" title="Historial de cargos">
  <ion-content class="client-tarjetas" padding="true">
    <div class="description">
      <strong>Historial de cargos</strong>
      <p>Te presentamos el historial de cargos hasta la fecha del dia de hoy.</p>
      <p>Selecciona alguno para ver mas detalles.</p>
    </div>
    <div ng-hide="charges.length">
      {{textLoad}}
    </div>

    <ion-list>
      <ion-item ng-click="openCharge(item)" class="item-icon-right" ng-repeat="item in charges">
        {{item.description}}
        <span class="item-note">
					<span class="assertive">${{item.amount / 100 | number:2}} {{item.currency}}</span><br/>
					{{item.paid_at | AsDateUnix | date:'dd/MMMM/yyyy'}}
				</span><br/>
        <!--<span ng-class="{'assertive':item.invoice_status == 'failed',
                                 'balanced':item.invoice_status == 'invoiced',
                                 'energized':item.invoice_status == 'missing'}" style="font-size:12px;">{{item.invoice_status == 'failed' ? 'Fallo' : item.invoice_status == 'invoiced' ? 'Facturado' : 'Pendiente'}}</span>-->

        <span ng-class="{'assertive': item.status != 'paid' && item.failure_message,
								 'energized':item.status != 'paid' && !item.failure_message,
                 'balanced':item.status == 'paid'}" style="font-size:12px;">
            <span ng-if="item.status == 'paid'">Exitoso</span>
            <span ng-if="item.status == 'partially_refunded'">Parcialmente Devuelto</span>
            <span ng-if="item.status == 'refunded'">Devuelto</span>
            <span ng-if="item.status == 'pending_payment'">Falló</span>
        </span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
