<ion-view title="Inicio">
  <ion-content padding="true" class="guest-home manual-remove-top-padding">

    <div class="video-master-container"> 
      <div class="video-container">
        <!--<div class="embed-responsive embed-responsive-16by9">
          <youtube-video class="embed-responsive-item" video-id="'08dLqeiid50'" player="bestPlayer"></youtube-video>
        </div>-->
          <video ng-if="src == 'aguagente'" class="video" preload="metadata" controls playsinline webkit-playsinline="webkit-playsinline">
            <source ng-src="{{'img/seller/aguagente.mp4' | trustSrc}}" type="video/mp4" />
          </video>
      
          <video ng-if="src == 'aguagente_sub'" class="video" preload="metadata" controls playsinline webkit-playsinline="webkit-playsinline">
            <source ng-src="{{'img/seller/aguagente_sub.mp4' | trustSrc}}" type="video/mp4" />
          </video>
      
          <ul class="list" style="margin-bottom:0px;">
            <ion-toggle
                ng-model="subtitles" 
                ng-change="toggleVideo()">
                English video
            </ion-toggle>
            <!--<li class="item item-toggle">
              English video
              <label class="toggle toggle-assertive">
                <input type="checkbox" ng-model="subtitles" ng-checked="subtitles">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>-->
          </ul>
      </div>
      <div class="spacer" style="height:15px;"></div>

      <div ng-if="!(currentUser.isClient() || currentUser.isSeller())">
        <p>Empresa mexicana que provee agua purificada en el punto de entrega. Aguagente cree firmemente que si
          realmente quieres cambiar
          fundamentalmente una industria sólo se necesita un plan sencillo, una estrategia efectiva y una metodología
          única. Hacemos esto con el apoyo de tecnología de última generación propia.</p>
        <div id="login-button-bar3" class="button-bar">
          <!--<a ui-sref="app.guest.beneficios" class="button button-balanced button-block">Beneficios</a>-->
          <a ui-sref="app.cotizador.start" class="button button-stable button-block">Únete</a>
        </div>
      </div>

      <div ng-if="(currentUser.isClient() || currentUser.isSeller())">
        <div class="text mt-20">
          Aguagente le agradece por su interés en unirse a nuestro servicio.
          <br><br>
          Si no has seleccionado y capturado los datos de método de pago, amablemente te solicitamos que siga los pasos sencillos para hacerlo. Una vez completado y aprobado, te contactarémos para agendar su fecha de instalación.
          <br><br>
          Sigue los sencillos pasos para referir 6 personas y disfruta de ‘Agua Gratis’.
          <br><br>
          Tu estatus es: <strong>{{ currentUser.getClientLevel() }}</strong><br>
          Referidos: <strong>{{referidos}}</strong>
        </div>
    
        <div class="text-center">
            <!--<button type="button"
              class="button button-block button-balanced"
              ui-sref="app.client.contrato">
                Ver mi contrato
            </button>-->
    
            <button type="button"
              class="button button-block bg-stable"
              ui-sref="app.cotizador.start">
                Registra a un amigo
            </button>
        </div>
      </div>

      <!--ng-if="currentUser.isClient() || currentUser.isSeller()"-->
      <!--ng-if="(!popupVideoShow && (currentUser.isClient() || currentUser.isSeller()))"-->
      <div class="video-overlay" ng-if="(!popupVideoHide && (currentUser.isClient() || currentUser.isSeller()))" >
          <video class="video" preload="metadata" controls autoplay playsinline webkit-playsinline="webkit-playsinline">
              <source ng-src="{{'img/seller/reseller.mp4' | trustSrc}}" type="video/mp4" />
          </video>
          <button ng-click="closeVideo()" class="button button-stable button-block">CONTINUAR</button>

          <div class="ghost-text">
            <p>Mira nuestras novedades</p>
            <i class="icon ion-arrow-down-c"></i>
          </div>
      </div>
    </div>

    

    <div class="list">
      <div class="item item-divider">
        Novedades
      </div>
      <div class="list">
        <!--<div class="item item-button-right">
          List item 1
          <div class="buttons">
            <button class="button button-positive">
              <i class="icon ion-ios-eye"></i>
            </button>
            <button class="button button-assertive">
              <i class="icon ion-android-share-alt"></i>
            </button>
          </div>
        </div>-->

        

        <div class="item item-thumbnail-left item-button-right" ng-repeat="item in medios">
          <img src="http://i3.ytimg.com/vi/{{item.video}}/maxresdefault.jpg" ng-if="!item.isImg">
          <img src="{{item.img}}" ng-if="item.isImg">
          <h2>{{item.title}}</h2>

          <div class="buttons">
            <a class="button button-positive" href="#/app/guest/media/{{item.id}}">
              <i class="icon ion-ios-eye"></i><!--<br>
              <span>VER</span>-->
            </a>
            <a class="button button-balanced" ng-click="openActionsheet(item)">
              <i class="icon ion-android-share-alt"></i><!--br>
              <span>COMPARTIR</span>-->
            </a>
          </div>

          <!--<a class="button button-positive" href="#/app/guest/media/{{item.id}}">
            <i class="icon ion-ios-eye"></i>
          </a>
          <button class="button button-positive">
            <i class="icon ion-android-share-alt"></i>
          </button>-->
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
