<ion-view title="Inicio">
    <ion-content padding="true" class="guest-home manual-remove-top-padding">
        <div class="row">
            <div class="col-33"></div>
            <div class="col col-33">
                <img src="img/logo-aguagente.png" alt="">
            </div>
        </div>
        <div class="spacer" style="height:15px;"></div>
        <div class="row">
            <div class="col">
                <p>Empresa mexicana que provee agua purificada en el punto de entrega. Aguagente cree firmemente que si realmente quieres cambiar
                fundamentalmente una industria sólo se necesita un plan sencillo, una estrategia efectivo y una metodología única. Haremos
                esto mediante tecnología de última generación propia.</p>
                <div id="login-button-bar3" class="button-bar">
                    <a ui-sref="app.guest.beneficios" class="button button-balanced button-block">Beneficios</a>
                    <a ui-sref="app.cotizador.start" class="button button-stable button-block">Únete</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="list">
                
                    <div class="item item-divider">
                        Últimas Noticias
                    </div>
                    <div class="list card">
                        <a href="#" class="item item-avatar item-icon-right">
                            <img src="img/placeholder.png">
                            <h2>Plástico, el enemigo del planeta</h2>
                            <p>Todos sabemos que el plástico demora mucho tiempo en</p>
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a href="#" class="item item-avatar item-icon-right">
                            <img src="img/placeholder.png">
                            <h2>Tu servicio ¡GRATIS!</h2>
                            <p>¿Te gustaría no tener que pagar por tu servicio? aquí te decimos cómo</p>
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                    </div>
                    
                    <div class="item item-divider">
                        Videos
                    </div>
                    <div class="list">
                        <a class="item item-thumbnail-left item-icon-right" href="#">
                            <img src="img/placeholder.png">
                            <h2>Testimonio Aguagente - David Bravo</h2>
                            <p>David Bravo nos comenta que le gusta de nuestro servicio</p>
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>