.guest-home {
    img {
        width: 100%;
        height: auto;
    }

    .list.card {
        margin:1px 0 0;
    }

    .video-container {
        position: relative;

        .play-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            background: transparent;
            border: none;
            color: #fff;
            font-size: 36px;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        }
    }

    .item {
        .buttons {
            /*.button {line-height: 1;}*/

            span {
                font-size:12px;
            }
        }
    }

    .video {
        width: 100%;
    }

    .video-master-container {
        position:relative;
    }

    .video-overlay {
        position:absolute;
        top:0;
        background :#fff;
        width:100%;
        height: 100%;
        display:block;
        z-index: 10;

        .video {
            margin: 0 auto;
            
        }
    }

    .ghost-text {
        color: #ccc;
        font-size: 16px;
        text-align: center;
        margin-top: 50px;
        text-transform: uppercase;

        i {
            font-size: 30px;
        }
    }

}


.embed-responsive {
        position: relative;
        display: block;
        height: 0;
        padding: 0;
        overflow: hidden;
        }

    .embed-responsive.embed-responsive-16by9 {
        padding-bottom: 56.25%;
    }

    .embed-responsive-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }