<ion-view title="Detalles de pago">
 	<ion-content class="seller-tarjeta">
		<div class="description">
 			<strong>Detalles de pago del cliente</strong>
 			<p>
 				Ingrese toda la información necesaria de los datos de pago del cliente para poder realizar exitosamente el cobro.
 			</p>
 		</div>
 		<form novalidate name="SellerCard" action="" ng-submit="enviar()">
 			<div class="list">
	 			<label class="item item-input item-stacked-label">
					<span class="input-label">Número de tarjeta</span>
					<input type="tel" name="nombre" ng-model="tarjeta.card_number" required>
				</label>

				<label class="item item-input item-stacked-label">
					<span class="input-label">CVC</span>
					<input type="tel" maxlength="4" name="nombre" ng-model="tarjeta.cvc" required>
				</label>

	 			<label class="item item-input item-select">
				    <div class="input-label">
				    	Mes Expira
				    </div>
				    <select ng-model="tarjeta.expiration_month" required>
		 				<option value="01">01</option>
		 				<option value="02">02</option>
		 				<option value="03">03</option>
		 				<option value="04">04</option>
		 				<option value="05">05</option>
		 				<option value="06">06</option>
		 				<option value="07">07</option>
		 				<option value="08">08</option>
		 				<option value="09">09</option>
		 				<option value="10">10</option>
		 				<option value="11">11</option>
		 				<option value="12">12</option>
		 			</select>
				</label>
  				<label class="item item-input item-select">
				    <div class="input-label">
				      Año Expira
				    </div>
				    <select ng-model="tarjeta.expiration_year" required>
		 				<option value="2017">2017</option>
		 				<option value="2018">2018</option>
		 				<option value="2019">2019</option>
		 				<option value="2020">2020</option>
		 				<option value="2021">2021</option>
		 				<option value="2022">2022</option>
		 				<option value="2023">2023</option>
		 				<option value="2024">2024</option>
		 				<option value="2025">2025</option>
		 				<option value="2026">2026</option>
		 				<option value="2027">2027</option>
		 				<option value="2028">2028</option>
		 				<option value="2029">2029</option>
		 				<option value="2030">2030</option>
		 				<option value="2031">2031</option>
		 				<option value="2032">2032</option>
		 				<option value="2033">2033</option>
		 				<option value="2034">2034</option>
		 				<option value="2035">2035</option>
		 			</select>
				 </label>
	 			<label class="item item-input item-select">
				    <div class="input-label">
				      Tipo de tarjeta
				    </div>
				    <select ng-model="tarjeta.bank" ng-change="changeBrand()" required>
		 				<option value="visa">VISA</option>
		 				<option value="mastercard">MASTERCARD</option>
		 				<option value="amex">AMEX</option>
		 			</select>
				</label>
			</div>
			<div ng-if="fee">
				<div class="description">
		 			<strong>Pago meses sin intereses</strong>
		 			<p>
		 				El pago del deposito y los extras pueden pagarse a meses sin intereses, seleccione la opción que el cliente requiera.
		 			</p>
		 		</div>
		 		<div class="list">
					<label class="item item-input item-select">
					    <div class="input-label">
					    	Forma de pago
					    </div>
					    <select ng-model="contractData.monthly_installments" ng-change="changeFormaPago()" required>
					    	<option 
					    		ng-repeat="(key,value) in fee" 
					    		value="{{key}}" 
					    		ng-selected="contractData.monthly_installments == key">
					    		{{ key != 1 ? key + ' meses' : 'Pago único' }}
					    	</option>
			 			</select>
					</label>
		 		</div>
		 	</div>
			<div class="padding">
				<button type="button" ng-if="SellerCard.$invalid" class="button button-block bg-green" ui-sref="{{$state.includes('app.seller') ? 'app.seller.preview' : 'app.client.contract.preview' }}">Omitir y continuar</button>
				<button type="button" ng-if="SellerCard.$valid" class="button button-block bg-green" ng-click="enviar()">Continuar</button>
			</div>
 		</form>
	</ion-content>
</ion-view>
