<ion-view hide-back-button="true" title="Contratos">
 	<ion-content class="seller-contracts">
 		<ion-refresher
		    pulling-text="Actualizar..."
		    on-refresh="refreshApp()">
		</ion-refresher>
 		<ion-list>
			<ion-item ng-if="!contracts">No hay contratos guardados.</ion-item>
	        <ion-item click-for-options class="item-icon-right" ng-repeat="item in contracts | filter: { seller: currentUser.getIdClient() }">

	        	{{item.name}} 
	        	<span class="item-note">{{item.fecha | AsDate | date:'dd/MM/yyyy'}}</span>
 				<i class="icon ion-ios-arrow-right"></i>

	        	<ion-option-button class="button-positive"
                   ng-click="enviar(item,$index)">
  					Enviar
				</ion-option-button>
				<ion-option-button class="button-energized"
                   ng-click="editar(item,$index)">
  					Editar
				</ion-option-button>
				<ion-option-button class="button-assertive"
                   ng-click="eliminar(item.name,$index)">
  					Eliminar
				</ion-option-button>

	        </ion-item>
	    </ion-list>
	</ion-content>
</ion-view>
