<ion-view hide-back-button="true" title="Encuestas">
 	<ion-content class="client-tarjetas">
 		<div class="description">
 			<strong>Listado de encuestas</strong>
 			<p>
 				Haz click para contestar una encuesta
 			</p>
 		</div>
 		<div class="padding" ng-hide="polls.length">
 			No se encontraron encuestas
 		</div>
 		<ion-list>
	       <ion-item ui-sref="app.seller.encuesta({ id: item.id_polls })" class="item-icon-right" ng-repeat="item in polls">

	        	{{item.name}}
 				<i class="icon ion-ios-arrow-right"></i>

	        </ion-item>
	    </ion-list>
	</ion-content>
</ion-view>
