<ion-view hide-back-button="true" title="Encuestas">
 	<ion-content class="seller-encuestas">
 		<div class="description">
 			<strong>{{registro.name}}</strong>
 			<p>
 				Contesta las siguientes preguntas
 			</p>
 		</div>
 		<div class="preguntas" ng-init="preg.answers = {};" ng-repeat="preg in registro.questions">
			<div class="questions">
	 			<p><span>{{$index+1}}.</span> {{preg.description}}</p>
	 		</div>
	 		<div class="list">
	 			<label ng-click="responder(preg, resp)"
					  class="item item-icon-left item-text-wrap"
					  ng-repeat="resp in preg.options">
	 				<i class="icon" ng-class="{
	 				 'ion-android-radio-button-off' : preg.type == 'single' && !preg.answers[resp.id_options], 
	 				 'ion-checkmark-circled' : preg.type == 'single' && preg.answers[resp.id_options],
	 				 'ion-android-checkbox-outline-blank' : preg.type == 'multiple' && !preg.answers[resp.id_options],
	 				 'ion-android-checkbox' : preg.type == 'multiple' && preg.answers[resp.id_options]}"></i>
	 				 {{resp.description}}
	 			</label>
			</div>
		</div>
	    
	    <div class="padding">
 			<button type="button" ng-click="enviarEncuesta()" class="button button-block bg-green">Enviar</button>
 		</div>
	</ion-content>
</ion-view>