.seller-encuestas{

	background: white;

	.scroll{
		min-height: 100%;
	}

	.description{

		padding:5%;
		background:#CCC;
		color:#000;
		font-family: 'Raleway', sans-serif;
		text-align: left;

		p{
			margin-top:10px;
		}
	}

	.questions{

		padding:1%;
		border-bottom:1px solid #ddd;
		color:#000;
		font-family: 'Raleway', sans-serif;
		text-align: left;

		p{
			margin-top:5px;
			font-weight:bold;

			span{
				font-size:120%;
			}
		}
	}

	.preguntas{
		.item{
			border:0px;
		}

		.icon{
			color:$barHeaderPrincipal;
		}
	}
}