<ion-view title="Contrato" id="page6" style="">
  <ion-content padding="true" class="has-header">
    <h4 id="contrato-heading29" style="color:#000000;">Contrato de suministro de agua y comodato de equipo</h4>
    <h5 id="contrato-heading31" style="color:#000000;">Inventario del equipo</h5>
    <h5 id="contrato-heading32" style="color:#000000;">Definiciones</h5>
    <h5 id="contrato-heading33" style="color:#000000;">Cláusulas</h5>
    <form id="contrato-form16" class="list">
      <div style="margin-right:-20px;">
        <a ui-sref="sideMenu.usuario()" id="contrato-button6" style="left:-10px;" class="button button-balanced button-full">Acepto</a>
      </div>
    </form>
  </ion-content>
</ion-view>