.seller-preview{
	background:white;
	h3{
		font-family: 'Raleway', sans-serif;
		font-size: 1.2em;
		padding: 4%;
		background:#CCC;
	}
	.rest-item{
		padding: 4%;
	}

	.scroll{
		min-height: 100%;
	}

	.text{
		color: #444;
		span{
			font-weight: 500;
			color: black;
		}
	}

}