.cotizador {
    .pago {
        .popover-opener {
            border-bottom: solid 1px #ddd;
        }
        .popover-opener:before {
            font-size: 14px;
            color: #999;
        }
    }
}