<ion-view title="Forma de pago">
  <ion-content padding="true" class="has-header cotizador">
    <h5 >Tipo de tarjeta</h5>
    <form novalidate name="SellerCard" action="" ng-submit="enviar()" class="pago">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Número de tarjeta</span>
                <input type="tel" name="nombre" ng-model="tarjeta.card_number" placeholder="Número de tarjeta" required>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">CVC</span>
                <input type="tel" maxlength="4" name="nombre" ng-model="tarjeta.cvc" placeholder="CVC" required>
            </label>

            <div class="row">
                <div class="col">
                    <p>Mes que expira</p>
                    <input type="hidden" ng-model="tarjeta.expiration_month" required>
                    <button type="button" class="button button-light button-block icon-right ion-arrow-down-b popover-opener" ng-click="openPopover($event, 'cc-month.html')">{{tarjeta.expiration_month}}</button>
                    <!--<label class="item item-input item-select no-label">

                        <select ng-model="tarjeta.expiration_month" required placeholder="Mes que expira">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </label>
                     -->
                </div>
                <div class="col">
                    <p>Año que expira</p>
                    <input type="hidden" ng-model="tarjeta.expiration_year" required>
                    <button type="button" class="button button-light button-block icon-right ion-arrow-down-b popover-opener" ng-click="openPopover($event, 'cc-year.html')">{{tarjeta.expiration_year}}</button>
                    <!--<label class="item item-input item-select no-label">
                        <select ng-model="tarjeta.expiration_year" required>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                            <option value="2032">2032</option>
                            <option value="2033">2033</option>
                            <option value="2034">2034</option>
                            <option value="2035">2035</option>
                        </select>
                    </label>-->
                </div>
            </div>


            <label class="item item-input item-select">
                <div class="input-label">
                    Tipo de tarjeta
                </div>
                <input type="hidden" ng-model="tarjeta.bank" required>
                <button type="button" class="button button-light button-block " ng-click="openPopover($event, 'cc-brand.html')">{{tarjeta.bank}}</button>
                <!--<select ng-model="tarjeta.bank" ng-change="changeBrand()" required>
                    <option value="visa">VISA</option>
                    <option value="mastercard">MASTERCARD</option>
                    <option value="amex">AMEX</option>
                </select>-->
            </label>
        </div>

        <div ng-if="fee">
            <div class="description">
                <strong>Pago meses sin intereses</strong>
                <p>
                    El pago del deposito y los extras pueden pagarse a meses sin intereses, seleccione la opción que el cliente requiera.
                </p>
            </div>
            <div class="list">
                <label class="item item-input item-select">
                    <div class="input-label">
                        Forma de pago
                    </div>
                    <input type="hidden" ng-model="contractData.monthly_installments" required>
                    <button type="button" class="button button-light button-block " ng-click="openPopover($event, 'cc-forma.html')">{{contractData.monthly_installments}}</button>
                    <!--<select ng-model="contractData.monthly_installments" ng-change="changeFormaPago()" required>
                        <option ng-repeat="(key,value) in fee" value="{{key}}" ng-selected="contractData.monthly_installments == key">
                            {{ key != 1 ? key + ' meses' : 'Pago único' }}
                        </option>
                    </select>-->
                </label>
            </div>
        </div>
        <div class="padding">
            <button type="button" ng-if="SellerCard.$valid" class="button button-balanced button-block" ng-click="enviar()">Continuar</button>
            <button type="button" ng-if="!SellerCard.$valid" class="button button-balanced button-block" ng-click="enviarNoCard()">Llenar
                despúes</button>
        </div>
    </form>

  </ion-content>
</ion-view>

<script id="cc-month.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">Mes de expiración</h1>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item" ng-click="setMonth('01')">01</li>
            <li class="item" ng-click="setMonth('02')">02</li>
            <li class="item" ng-click="setMonth('03')">03</li>
            <li class="item" ng-click="setMonth('04')">04</li>
            <li class="item" ng-click="setMonth('05')">05</li>
            <li class="item" ng-click="setMonth('06')">06</li>
            <li class="item" ng-click="setMonth('07')">07</li>
            <li class="item" ng-click="setMonth('08')">08</li>
            <li class="item" ng-click="setMonth('09')">09</li>
            <li class="item" ng-click="setMonth('10')">10</li>
            <li class="item" ng-click="setMonth('11')">11</li>
            <li class="item" ng-click="setMonth('12')">12</li>
        </ul>
    </ion-content>
  </ion-popover-view>
</script>

<script id="cc-year.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">Año de expiración</h1>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item" ng-click="setYear('2020')">2020</li>
            <li class="item" ng-click="setYear('2021')">2021</li>
            <li class="item" ng-click="setYear('2022')">2022</li>
            <li class="item" ng-click="setYear('2023')">2023</li>
            <li class="item" ng-click="setYear('2024')">2024</li>
          <li class="item" ng-click="setYear('2025')">2025</li>
          <li class="item" ng-click="setYear('2026')">2026</li>
          <li class="item" ng-click="setYear('2027')">2027</li>
          <li class="item" ng-click="setYear('2028')">2028</li>
          <li class="item" ng-click="setYear('2029')">2029</li>
        </ul>
    </ion-content>
  </ion-popover-view>
</script>

<script id="cc-brand.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">Tipo de tarjeta</h1>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item" ng-click="setBrand('visa')">VISA</li>
            <li class="item" ng-click="setBrand('mastercard')">MASTERCARD</li>
            <li class="item" ng-click="setBrand('amex')">AMEX</li>
        </ul>
    </ion-content>
  </ion-popover-view>
</script>

<script id="cc-forma.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">Forma de pago</h1>
    </ion-header-bar>
    <ion-content>
        <ul class="list">
            <li class="item" ng-repeat="(key,value) in fee" ng-click="setForma(key)">
                {{ key != 1 ? key + ' meses' : 'Pago único' }}
            </li>
        </ul>
    </ion-content>
  </ion-popover-view>
</script>
