<ion-view title="Registro">
  <ion-content class="cotizador" padding="true">

    <div class="spacer"></div>
    <div class="row">
      <div class="col-33"></div>
      <div class="col-33">
        <img class="logo" src="img/logo-aguagente.png">
      </div>
    </div>
    <div class="spacer"></div>

    <div class="text">
      <p>Aguagente te agradece por tu interés en unirte a nuestro servicio.</p>
      <p>Si algún amigo te invitó a unirte, por favor, ingresa su email aquí abajo.</p>
    </div>
    <div class="row">
      <div class="col">
        <form name="datosContract" ng-submit="validateEmail()">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">E-mail</span>
              <input type="text" name="referido" ng-model="contractData.referido"
                     placeholder="aguagratis@aguagente.com">
            </label>

            <label class="item item-input">
              <span class="input-label">Cupón</span>
              <input type="text" name="cupon" ng-model="contractData.cupon"
                     placeholder="Ingresar cupón">
            </label>
          </div>

          <button type="submit" class="button button-balanced button-block">Continuar</button>
        </form>
      </div>
    </div>
  </ion-content>

</ion-view>
