<ion-view title="Fotos cocina">
    <ion-content class="client-datos" padding="true">
        <ion-refresher pulling-text="Actualizar..." on-refresh="refreshApp()">
        </ion-refresher>
        <div class="description">
            <strong>Fotos del contrato</strong>
            <p>
                Envia las fotos de tu cocina.
            </p>
        </div>
        <form name="clientContract" novalidate="" ng-submit="updateContract(clientContract.$valid)">

            <div ng-if="currentUser.getClientStatus() == 'invalid'" class="assertive padding bold italic">
                * {{ invalidation.reasons }}
            </div>

            <div class="list">

                <!--<label class="item item-input item-stacked-label"
					  ng-class="{ 'has-errors' : clientContract.nombre.$invalid && clientContract.nombre.$dirty, 'no-errors' : clientContract.nombre.$valid && clientContract.nombre.$dirty}">
				   <span class="input-label">Nombre completo</span>
				   <input type="text" name="nombre" ng-model="data.name" required>
			   </label>

			   <div class="error-container" ng-show="clientContract.nombre.$error && clientContract.nombre.$dirty" ng-messages="clientContract.nombre.$error">
				   <div ng-messages-include="app/main/error-list.html"></div>
			   </div>

			   <label class="item item-input item-stacked-label"
					  ng-class="{ 'has-errors' : clientContract.email.$invalid && clientContract.email.$dirty, 'no-errors' : clientContract.email.$valid && clientContract.email.$dirty}">
				   <span class="input-label">Correo electronico</span>
				   <input type="email" name="email" ng-model="data.email" required>
			   </label>

			   <div class="error-container" ng-show="clientContract.email.$error && clientContract.email.$dirty" ng-messages="clientContract.email.$error">
				   <div ng-messages-include="app/main/error-list.html"></div>
			   </div>-->

                <label ng-if="currentUser.getClientStatus() == 'invalid'" class="item item-input item-stacked-label" ng-class="{ 'has-errors' : clientContract.phone.$invalid && clientContract.phone.$dirty, 'no-errors' : clientContract.phone.$valid && clientContract.phone.$dirty}">
				   <span class="input-label">
					   Teléfono o celular <br/>
					   <!--<i>A este número se le contactará para el proceso de instalación</i>-->
				   </span>
				   <input type="tel" name="phone" ng-model="data.client.phone" required ng-minlength="8" ng-maxlength="20">
			   </label>

                <div ng-if="currentUser.getClientStatus() == 'invalid'" class="error-container" ng-show="clientContract.phone.$error && clientContract.phone.$dirty" ng-messages="clientContract.phone.$error">
                    <div ng-messages-include="app/main/error-list.html"></div>
                </div>

                <label ng-if="currentUser.getClientStatus() == 'invalid'" class="item item-input item-stacked-label" ng-class="{ 'has-errors' : clientContract.address.$invalid && clientContract.address.$dirty, 'no-errors' : clientContract.address.$valid && clientContract.address.$dirty}">
				   <span class="input-label">
					   Calle y número <br/>
					   <!--<i>En ésta dirección se realizará la instalación y servicios de Aguagente</i>-->
				   </span>
				   <input type="text" name="address" ng-model="data.client.address" required>
			   </label>

                <div ng-if="currentUser.getClientStatus() == 'invalid'" class="error-container" ng-show="clientContract.address.$error && clientContract.address.$dirty" ng-messages="clientContract.address.$error">
                    <div ng-messages-include="app/main/error-list.html"></div>
                </div>


                <label ng-if="currentUser.getClientStatus() == 'invalid'" class="item item-input item-stacked-label" ng-class="{ 'has-errors' : clientContract.between_streets.$invalid && clientContract.between_streets.$dirty, 'no-errors' : clientContract.between_streets.$valid && clientContract.between_streets.$dirty}">
				   <span class="input-label">
					   Entre calles<br/>
					   <!--<i>En ésta dirección se realizará la instalación y servicios de Aguagente</i>-->
				   </span>
				   <input type="text" name="between_streets" ng-model="data.client.between_streets">
			   </label>

                <div ng-if="currentUser.getClientStatus() == 'invalid'" class="error-container" ng-show="clientContract.between_streets.$error && clientContract.between_streets.$dirty" ng-messages="clientContract.between_streets.$error">
                    <div ng-messages-include="app/main/error-list.html"></div>
                </div>

                <label ng-if="currentUser.getClientStatus() == 'invalid'" class="item item-input item-stacked-label" ng-class="{ 'has-errors' : clientContract.colony.$invalid && clientContract.colony.$dirty, 'no-errors' : clientContract.colony.$valid && clientContract.colony.$dirty}">
				   <span class="input-label">
					   Colonia
				   </span>
				   <input type="text" name="colony" ng-model="data.client.colony" required>
			   </label>

                <div ng-if="currentUser.getClientStatus() == 'invalid'" class="error-container" ng-show="clientContract.colony.$error && clientContract.colony.$dirty" ng-messages="clientContract.colony.$error">
                    <div ng-messages-include="app/main/error-list.html"></div>
                </div>

                <label ng-if="currentUser.getClientStatus() == 'invalid'" class="item item-input item-stacked-label" ng-class="{ 'has-errors' : datosContract.county.$invalid && datosContract.county.$dirty, 'no-errors' : datosContract.county.$valid && datosContract.county.$dirty}">
				   <span class="input-label">
					   Ciudad
				   </span>
				   <input type="text" name="county" ng-model="data.client.county" required>
			   </label>

                <div ng-if="currentUser.getClientStatus() == 'invalid'" class="error-container" ng-show="datosContract.county.$error && datosContract.county.$dirty" ng-messages="datosContract.county.$error">
                    <div ng-messages-include="app/main/error-list.html"></div>
                </div>

                <label ng-if="currentUser.getClientStatus() == 'invalid'" class="item item-input item-stacked-label" ng-class="{ 'has-errors' : clientContract.state.$invalid && clientContract.state.$dirty, 'no-errors' : clientContract.state.$valid && clientContract.state.$dirty}">
				   <span class="input-label">
					   Estado
				   </span>
				   <input type="text" name="state" ng-model="data.client.state" required>
			   </label>

                <div ng-if="currentUser.getClientStatus() == 'invalid'" class="error-container" ng-show="clientContract.state.$error && clientContract.state.$dirty" ng-messages="clientContract.state.$error">
                    <div ng-messages-include="app/main/error-list.html"></div>
                </div>

                <label ng-if="currentUser.getClientStatus() == 'invalid'" class="item item-input item-stacked-label" ng-class="{ 'has-errors' : clientContract.postal_code.$invalid && clientContract.postal_code.$dirty, 'no-errors' : clientContract.postal_code.$valid && clientContract.postal_code.$dirty}">
				   <span class="input-label">
					   Código Postal
				   </span>
				   <input type="tel" name="postal_code" ng-model="data.client.postal_code" required ng-minlength="5">
			   </label>

                <div ng-if="currentUser.getClientStatus() == 'invalid'" class="error-container" ng-show="clientContract.postal_code.$error && clientContract.postal_code.$dirty" ng-messages="clientContract.postal_code.$error">
                    <div ng-messages-include="app/main/error-list.html"></div>
                </div>

            </div>
        </form>

        <div class="fotos">

            <div class="foto">
                <img ng-style="{ 'max-width' : '100%' }" id="image0" ng-if="data.image0 || fotos.image0" src="{{data.image0 || fotos.image0}}" ng-click="captureImage('image0')" />
                <img ng-style="{ 'max-width' : '100%' }" id="image0" ng-if="!data.image0 && !fotos.image0" src="/img/seller/int1.png" ng-click="captureImage('image0')" />

                <div class="checked" ng-show="data.image0 || fotos.image0" ng-click="removeImage('image0')">
                    <i class="ion-close"></i>
                </div>
            </div>

            <div class="foto">
                <img ng-style="{ 'max-width' : '100%' }" id="image1" ng-if="data.image1 || fotos.image1" src="{{data.image1 || fotos.image1}}" ng-click="captureImage('image1')" />
                <img ng-style="{ 'max-width' : '100%' }" id="image1" ng-if="!data.image1 && !fotos.image1" src="/img/seller/int2.png" ng-click="captureImage('image1')" />

                <div class="checked" ng-show="data.image1 || fotos.image1" ng-click="removeImage('image1')">
                    <i class="ion-close"></i>
                </div>
            </div>

            <div class="foto">
                <img ng-style="{ 'max-width' : '100%' }" id="image2" ng-if="data.image2 || fotos.image2" src="{{data.image2 || fotos.image2}}" ng-click="captureImage('image2')" />
                <img ng-style="{ 'max-width' : '100%' }" id="image2" ng-if="!data.image2 && !fotos.image2" src="/img/seller/int3.png" ng-click="captureImage('image2')" />

                <div class="checked" ng-show="data.image2 || fotos.image2" ng-click="removeImage('image2')">
                    <i class="ion-close"></i>
                </div>
            </div>

            <div class="foto">
                <img ng-style="{ 'max-width' : '100%' }" id="image3" ng-if="data.image3 || fotos.image3" src="{{data.image3 || fotos.image3 }}" ng-click="captureImage('image3')" />
                <img ng-style="{ 'max-width' : '100%' }" id="image3" ng-if="!data.image3 && !fotos.image3" src="/img/seller/int4.png" ng-click="captureImage('image3')" />

                <div class="checked" ng-show="data.image3 || fotos.image3" ng-click="removeImage('image3')">
                    <i class="ion-close"></i>
                </div>
            </div>

            <div class="foto">
                <img ng-style="{ 'max-width' : '100%' }" id="image4" ng-if="data.image4 || fotos.image4" src="{{data.image4 || fotos.image4}}" ng-click="captureImage('image4')" />
                <img ng-style="{ 'max-width' : '100%' }" id="image4" ng-if="!data.image4 && !fotos.image4" src="/img/seller/int4.png" ng-click="captureImage('image4')" />

                <div class="checked" ng-show="data.image4 || fotos.image4" ng-click="removeImage('image4')">
                    <i class="ion-close"></i>
                </div>
            </div>

            <div class="foto">
                <img ng-style="{ 'max-width' : '100%' }" id="image5" ng-if="data.image5 || fotos.image5" src="{{data.image5 || fotos.image5}}" ng-click="captureImage('image5')" />
                <img ng-style="{ 'max-width' : '100%' }" id="image5" ng-if="!data.image5 && !fotos.image5" src="/img/seller/int4.png" ng-click="captureImage('image5')" />

                <div class="checked" ng-show="data.image5 || fotos.image5" ng-click="removeImage('image5')">
                    <i class="ion-close"></i>
                </div>
            </div>

        </div>

        <div class="fotos" ng-if="currentUser.getClientStatus() == 'invalid'">

            <div class="foto">
                <img ng-style="{ 'max-width' : '100%' }" ng-if="data.proof_of_address || fotos.proof_of_address" src="{{data.proof_of_address || fotos.proof_of_address}}" ng-click="captureImage('proof_of_address')" />
                <img ng-style="{ 'max-width' : '100%' }" ng-if="!data.proof_of_address && !fotos.proof_of_address" src="/img/seller/cfe.png" ng-click="captureImage('proof_of_address')" />

                <div class="checked" ng-show="data.proof_of_address || fotos.proof_of_address" ng-click="removeImage('proof_of_address')">
                    <i class="ion-close"></i>
                </div>
            </div>

            <div class="foto">
                <img ng-style="{ 'max-width' : '100%' }" ng-if="data.profile || fotos.profile" src="{{data.profile || fotos.profile}}" ng-click="captureImage('profile')" />
                <img ng-style="{ 'max-width' : '100%' }" ng-if="!data.profile && !fotos.profile" src="/img/seller/profile.png" ng-click="captureImage('profile')" />

                <div class="checked" ng-show="data.profile || fotos.profile" ng-click="removeImage('profile')">
                    <i class="ion-close"></i>
                </div>
            </div>

            <div class="foto">
                <img ng-style="{ 'max-width' : '100%' }" ng-if="data.id || fotos.id" src="{{data.id || fotos.id}}" ng-click="captureImage('id')" />
                <img ng-style="{ 'max-width' : '100%' }" ng-if="!data.id && !fotos.id" src="/img/seller/ife1.png" ng-click="captureImage('id')" />

                <div class="checked" ng-show="data.id || fotos.id" ng-click="removeImage('id')">
                    <i class="ion-close"></i>
                </div>
            </div>

            <div class="foto">
                <img ng-style="{ 'max-width' : '100%' }" ng-if="data.id_reverse || fotos.id_reverse" src="{{data.id_reverse || fotos.id_reverse }}" ng-click="captureImage('id_reverse')" />
                <img ng-style="{ 'max-width' : '100%' }" ng-if="!data.id_reverse && !fotos.id_reverse" src="/img/seller/ife2.png" ng-click="captureImage('id_reverse')" />

                <div class="checked" ng-show="data.id_reverse || fotos.id_reverse" ng-click="removeImage('id_reverse')">
                    <i class="ion-close"></i>
                </div>
            </div>

        </div>

        <div class="padding">
            <button type="button" ng-disabled="clientContract.$invalid" ng-click="updateContract(clientContract.$valid)" class="button button-block bg-green">Continuar</button>
        </div>

    </ion-content>
</ion-view>

<style>
    .ola {
        max-width: 100%;
    }
</style>