.guest-beneficios {
    
    #general-slider {
        width:calc(100% + 20px);
        height:100%;
        margin-left:-10px;

        img {
            display: block;
            max-width: 100%;
            height: 200px;
            margin: 0 auto;
        }

        h2,h5 {
            color: #fff;
            text-align: center;
        }
        a {
            font-size: 36px;
            margin: 0 auto;
        }
    }

    .slide-color1 {
        background: -webkit-linear-gradient(left top, #0b7fba, #074f73);
        background: -o-linear-gradient(bottom right, #0b7fba, #074f73);
        background: -moz-linear-gradient(bottom right, #0b7fba, #074f73);
        background: linear-gradient(to bottom right, #0b7fba, #074f73); }

    .slide-color2 {
        background: -webkit-linear-gradient(left top, #EF473A, #ba372d);
        background: -o-linear-gradient(bottom right, #EF473A, #ba372d);
        background: -moz-linear-gradient(bottom right, #EF473A, #ba372d);
        background: linear-gradient(to bottom right, #EF473A, #ba372d); }

    .slide-color3 {
        background: -webkit-linear-gradient(left top, #84ba40, #527327);
        background: -o-linear-gradient(bottom right, #84ba40, #527327);
        background: -moz-linear-gradient(bottom right, #84ba40, #527327);
        background: linear-gradient(to bottom right, #84ba40, #527327); }

    .slide-color4 {
        background: -webkit-linear-gradient(left top, #ba9300, #735a00);
        background: -o-linear-gradient(bottom right, #ba9300, #735a00);
        background: -moz-linear-gradient(bottom right, #ba9300, #735a00);
        background: linear-gradient(to bottom right, #ba9300, #735a00); }

    .slide-color5 {
        background: -webkit-linear-gradient(left top, #0D9AE1, #0a74aa);
        background: -o-linear-gradient(bottom right, #0D9AE1, #0a74aa);
        background: -moz-linear-gradient(bottom right, #0D9AE1, #0a74aa);
        background: linear-gradient(to bottom right, #0D9AE1, #0a74aa); }

    .slide-color6 {
        background: -webkit-linear-gradient(left top, #6c54ba, #433473);
        background: -o-linear-gradient(bottom right, #6c54ba, #433473);
        background: -moz-linear-gradient(bottom right, #6c54ba, #433473);
        background: linear-gradient(to bottom right, #6c54ba, #433473); }

    
}