<ion-view title=" ">
    <ion-content padding="false" class="guest-beneficios manual-remove-top-padding" scroll="false">
        <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="general-slider">
            <ion-slide-page class="slide-color1 padding">
                <div class="table">
                    <div class="table-row">
                        <div class="table-cell">
                            <div>
                                <img src="img/slider/fm6Q7h6SNS8FDMtHiCPc_Slide1.jpg">
                            </div>
                            <h2 >Agua purificada ilimitada</h2>
                            <h5>Siempre contarás con agua purificada en tu hogar</h5>
                            <div class="spacer"></div>
                            <p class="text-center"><a ui-sref="login()" class="button button-light button-outline">Únete ya!</a></p>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
            <ion-slide-page class="slide-color2 padding">
                <div class="table">
                    <div class="table-row">
                        <div class="table-cell">
                            <div>
                                <img src="img/slider/DWv4AbDISjaFDhJoElY4_Slide2.jpg">
                            </div>
                            <h2 >Conveniencia</h2>
                            <h5 >No hay que almacenar, levantar grandes pesos y no se acaba.</h5>
                            <div class="spacer"></div>
                            <p class="text-center"><a ui-sref="login()" class="button button-light button-large button-outline">Únete ya!</a></p>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
            <ion-slide-page class="slide-color3 padding">
                <div class="table">
                    <div class="table-row">
                        <div class="table-cell">
                            <div>
                                <img src="img/slider/kESd8tPTRoGRpx11cx2z_Slide3.jpg">
                            </div>
                            <h2 >Cuida el medio ambiente</h2>
                            <h5 >Reduce tu huella de CO2 al no necesitar garrafones.</h5>
                            <div class="spacer"></div>
                            <p class="text-center"><a ui-sref="login()" class="button button-light button-large button-outline">Únete ya!</a></p>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
            <ion-slide-page class="slide-color4 padding">
                <div class="table">
                    <div class="table-row">
                        <div class="table-cell">
                            <div>
                                <img src="img/slider/A4hF5lhBSMIUoEo0QuMq_Slide4.jpg">
                            </div>
                            <h2 >Bajo precio fijo mensual</h2>
                            <h5 >Fácil de presupuestar, cuesta menos que la alternativa.</h5>
                            <div class="spacer"></div>
                            <p class="text-center"><a ui-sref="login()" class="button button-light button-large button-outline">Únete ya!</a></p>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
            <ion-slide-page class="slide-color3 padding">
                <div class="table">
                    <div class="table-row">
                        <div class="table-cell">
                            <div>
                                <img src="img/slider/XaxnUxJTT7SqbsgsdgXG_Slide5.jpg">
                            </div>
                            <h2 >Combate la inflación</h2>
                            <h5 >Congela tu cargo mensual por 5 años.</h5>
                            <div class="spacer"></div>
                            <p class="text-center"><a ui-sref="login()" class="button button-light button-large button-outline">Únete ya!</a></p>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
            <ion-slide-page class="slide-color4 padding">
                <div class="table">
                    <div class="table-row">
                        <div class="table-cell">
                            <div>
                                <img src="img/slider/SfEuHsZfTbWaVYQ4COKh_Slide6.jpg">
                            </div>
                            <h2 >Obtén agua gratis y gana dinero</h2>
                            <h5 >Recomendando Aguagente a tu círculo social puedes obtener agua gratis e incluso ganar dinero</h5>
                            <div class="spacer"></div>
                            <p class="text-center"><a ui-sref="login()" class="button button-light button-large button-outline">Únete ya!</a></p>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
            <ion-slide-page class="slide-color6 padding">
                <div class="table">
                    <div class="table-row">
                        <div class="table-cell">
                            <div>
                                <img src="img/slider/rSp1qwhJSDOkjN0WoGTm_Slide6.jpg">
                            </div>
                            <h2 >Responsabilidad Social</h2>
                            <h5 >Programa de Responsabilidad Social para ayudar a la comunidad.</h5>
                            <div class="spacer"></div>
                            <p class="text-center"><a ui-sref="login()" class="button button-light button-outline">Únete ya!</a></p>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
            <ion-slide-page class="slide-color1 padding">
                <div class="table">
                    <div class="table-row">
                        <div class="table-cell">
                            <div>
                                <img src="img/slider/cDYxxZTIGedC2idRngw0_Slide8.jpg">
                            </div>
                            <div class="spacer"></div>
                            <p class="text-center"><a ui-sref="login()" class="button button-light button-large button-outline">Únete ya!</a></p>
                        </div>
                    </div>
                </div>
            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>