<ion-view title="Cotizador">
 	<ion-content class="seller-extras">
		<div ng-repeat="category in categories | filter:{'name':'!Material'}">
			<div class="description">
	 			<strong>{{category.name}}</strong>
	 			<p ng-bind-html="category.description"></p>
	 		</div>
	 		<!--<ion-list>
				<ion-checkbox ng-click="toggleExtra(extra)"
							  ng-checked="contractData.elements[extra.id_categories_elements]" 
							  class="item-text-wrap checkbox-dark item-icon-right"
							  ng-repeat="extra in category.elements">
					{{extra.name}} <br/> <strong>${{extra.price | number:2}}</strong>
					<i class="icon ion-image" ng-click="showImage('img/seller/video.jpg')"></i>
				</ion-checkbox>
			</ion-list>-->
			<div class="list">
				<a class="item item-icon-left item-text-wrap item-icon-right" 
					ng-repeat="extra in category.elements"
					ng-click="clickExtra($event,extra)">
					<i class="icon" ng-class="{
		 				 'ion-android-checkbox-outline-blank' : !contractData.elements[extra.id_categories_elements],
		 				 'ion-android-checkbox' : contractData.elements[extra.id_categories_elements]}"></i>
		 			{{extra.name}} <br/> <strong>${{extra.price | number:2}}</strong>
		 			<i class="icon ion-image" ng-if="extra.type"></i>
				</a>
			</div>
		</div>
 		<div class="footer-padding"></div>
	</ion-content>
	<div class="footer-container">
 		<div class="row row-center">
 			<div class="col-25" style="font-size:80%;">
 				Total mas IVA del pago inicial
 			</div>
 			<div class="col-25 text-center">
 				<strong>${{totalCurrentContract | number:2}}</strong>
 			</div>
 			<div class="col-50">
 				<button type="button" ui-sref="{{$state.includes('app.seller') ? 'app.seller.mensual' : 'app.client.contract.mensual' }}" class="button button-block bg-green">
 					Siguiente <i class="ion-chevron-right"></i>
 				</button>
 			</div>
 		</div>
 	</div>
</ion-view>