/* Empty. Add your own CSS if you like */
.foto{
  color: #000;
  max-width: 100%;
}

.justify{
  text-align: justify;
}

.mt-20{
  margin-top: 20px;
}

.item-thumbnail-left, .item-thumbnail-left .item-content {
  padding-top: 8px;
  padding-left: 130px;
  min-height: 100px;
}

.item-thumbnail-left .item-content .item-image,
.item-thumbnail-left .item-content>img:first-child, .item-thumbnail-left .item-image,
.item-thumbnail-left>img:first-child {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 110px;
  max-height: 80px;
  width: 100%;
  height: 100%;
}

.button {
  min-width: 44px;
  min-height: 44px;
}

.item-button-right .item-content>.button,
.item-button-right .item-content>.buttons,
.item-button-right>.button, .item-button-right>.buttons {
  bottom: 6px;
  right: 16px;
  top: unset;
}

.item-button-right,
a.item.item-button-right,
button.item.item-button-right {
  padding-right: 15px;
}

.steps{
  overflow: auto;
  height: 100%;
}

.container-files{
  margin-bottom: 10%;
}

.rebaja {
  text-decoration: line-through;
  color: red;
}
