.seller-datos{
	background: white;

	.scroll{
		min-height: 100%;
	}

	.description{

		padding:5%;
		background:#CCC;
		color:#000;
		font-family: 'Raleway', sans-serif;
		text-align: left;

		p{
			margin-top:10px;
		}
	}

	strong{
		font-weight:bold;
		font-size:125%;
	}

	.text{
		color:#999;
		font-family: 'Raleway', sans-serif;
		text-align: left;
	}

	.fotos{
		.foto{
			position:relative;
			display:inline-block;
			width:46%;
			margin-left:2%;
			margin-top:10px;
			img{
				width:100%;
			}
		}

		.checked{
			position:absolute;
			top:5px;
			right:5px;
			font-size:30px;
		}
	}

	.input-label i{
		font-size:80%;
		font-weight:bold;
	}
}
.footer-padding{
	height:90px;
	width:100%;
}