<ion-view title="Datos">
 	<ion-content class="seller-datos">
 	
 		<div class="description">
 			<strong>Datos del cliente</strong>
 			<p>
 				Ingrese toda la información necesaria del cliente para poder generar los contratos.
 			</p>
 		</div>
 		<form name="datosContract" ng-submit="createContract(datosContract.$valid)">
 			<div class="list">

				<label class="item item-input item-stacked-label" 
					   ng-class="{ 'has-errors' : datosContract.nombre.$invalid && datosContract.nombre.$dirty, 'no-errors' : datosContract.nombre.$valid && datosContract.nombre.$dirty}">
					<span class="input-label">Nombre completo</span>
					<input type="text" name="nombre" ng-model="contractData.name" required>
				</label>

				<div class="error-container" ng-show="datosContract.nombre.$error && datosContract.nombre.$dirty" ng-messages="datosContract.nombre.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>

				<label class="item item-input item-stacked-label" 
					   ng-class="{ 'has-errors' : datosContract.email.$invalid && datosContract.email.$dirty, 'no-errors' : datosContract.email.$valid && datosContract.email.$dirty}">
					<span class="input-label">Correo electronico</span>
					<input type="email" name="email" ng-model="contractData.email" required>
				</label>

				<div class="error-container" ng-show="datosContract.email.$error && datosContract.email.$dirty" ng-messages="datosContract.email.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>

				<label class="item item-input item-stacked-label" 
					   ng-class="{ 'has-errors' : datosContract.phone.$invalid && datosContract.phone.$dirty, 'no-errors' : datosContract.phone.$valid && datosContract.phone.$dirty}">
					<span class="input-label">
						Teléfono o celular <br/> 
						<!--<i>A este número se le contactará para el proceso de instalación</i>-->
					</span>
					<input type="tel" name="phone" ng-model="contractData.phone" required ng-minlength="8" ng-maxlength="20">
				</label>

				<div class="error-container" ng-show="datosContract.phone.$error && datosContract.phone.$dirty" ng-messages="datosContract.phone.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>

				<label class="item item-input item-stacked-label" 
					   ng-class="{ 'has-errors' : datosContract.address.$invalid && datosContract.address.$dirty, 'no-errors' : datosContract.address.$valid && datosContract.address.$dirty}">
					<span class="input-label">
						Calle y número <br/> 
						<!--<i>En ésta dirección se realizará la instalación y servicios de Aguagente</i>-->
					</span>
					<input type="text" name="address" ng-model="contractData.address" required>
				</label>

				<div class="error-container" ng-show="datosContract.address.$error && datosContract.address.$dirty" ng-messages="datosContract.address.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>


				<label class="item item-input item-stacked-label" 
					   ng-class="{ 'has-errors' : datosContract.between_streets.$invalid && datosContract.between_streets.$dirty, 'no-errors' : datosContract.between_streets.$valid && datosContract.between_streets.$dirty}">
					<span class="input-label">
						Entre calles<br/> 
						<!--<i>En ésta dirección se realizará la instalación y servicios de Aguagente</i>-->
					</span>
					<input type="text" name="between_streets" ng-model="contractData.between_streets">
				</label>

				<div class="error-container" ng-show="datosContract.between_streets.$error && datosContract.between_streets.$dirty" ng-messages="datosContract.between_streets.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>

				<label class="item item-input item-stacked-label" 
					   ng-class="{ 'has-errors' : datosContract.colony.$invalid && datosContract.colony.$dirty, 'no-errors' : datosContract.colony.$valid && datosContract.colony.$dirty}">
					<span class="input-label">
						Colonia
					</span>
					<input type="text" name="colony" ng-model="contractData.colony" required>
				</label>

				<div class="error-container" ng-show="datosContract.colony.$error && datosContract.colony.$dirty" ng-messages="datosContract.colony.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>

				<label class="item item-input item-stacked-label" 
					   ng-class="{ 'has-errors' : datosContract.county.$invalid && datosContract.county.$dirty, 'no-errors' : datosContract.county.$valid && datosContract.county.$dirty}">
					<span class="input-label">
						Ciudad
					</span>
					<input type="text" name="county" ng-model="contractData.county" required>
				</label>

				<div class="error-container" ng-show="datosContract.county.$error && datosContract.county.$dirty" ng-messages="datosContract.county.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>

				<label class="item item-input item-stacked-label" 
					   ng-class="{ 'has-errors' : datosContract.state.$invalid && datosContract.state.$dirty, 'no-errors' : datosContract.state.$valid && datosContract.state.$dirty}">
					<span class="input-label">
						Estado
					</span>
					<input type="text" name="state" ng-model="contractData.state" required>
				</label>

				<div class="error-container" ng-show="datosContract.state.$error && datosContract.state.$dirty" ng-messages="datosContract.state.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>

				<label class="item item-input item-stacked-label" 
					   ng-class="{ 'has-errors' : datosContract.postal_code.$invalid && datosContract.postal_code.$dirty, 'no-errors' : datosContract.postal_code.$valid && datosContract.postal_code.$dirty}">
					<span class="input-label">
						Código Postal
					</span>
					<input type="tel" name="postal_code" ng-model="contractData.postal_code" required ng-minlength="5">
				</label>

				<div class="error-container" ng-show="datosContract.postal_code.$error && datosContract.postal_code.$dirty" ng-messages="datosContract.postal_code.$error">
					<div ng-messages-include="app/main/error-list.html"></div>
				</div>

				<!--<label class="item item-input item-stacked-label" 
					   ng-class="{ 'has-errors' : datosContract.tipo_cocina.$invalid && datosContract.tipo_cocina.$dirty, 'no-errors' : datosContract.tipo_cocina.$valid && datosContract.tipo_cocina.$dirty}">
					<span class="input-label">Tipo de cocina</span>
					<input type="text" name="tipo_cocina" ng-model="contractData.tipo_cocina" required>
				</label>-->

			</div>
 		</form>
 		<div class="fotos">

 			<div class="foto">
 				<img ng-src="{{contractFotos[6] || 'img/seller/cfe.png'}}" ng-click="captureImage(6)" />
 				
 				<div class="checked" ng-show="contractFotos[6]" ng-click="removeImage(6)">
 					<i class="ion-close"></i>
 				</div>
 			</div>

 			<div class="foto">
 				<img ng-src="{{contractFotos[7] || 'img/seller/profile.png'}}" ng-click="captureImage(7)" />
 				
 				<div class="checked" ng-show="contractFotos[7]" ng-click="removeImage(7)">
 					<i class="ion-close"></i>
 				</div>
 			</div>

 			<div class="foto">
 				<img ng-src="{{contractFotos[8] || 'img/seller/ife1.png'}}" ng-click="captureImage(8)" />
 				
 				<div class="checked" ng-show="contractFotos[8]" ng-click="removeImage(8)">
 					<i class="ion-close"></i>
 				</div>
 			</div>

 			<div class="foto">
 				<img ng-src="{{contractFotos[9] || 'img/seller/ife2.png'}}" ng-click="captureImage(9)" />
 				
 				<div class="checked" ng-show="contractFotos[9]" ng-click="removeImage(9)">
 					<i class="ion-close"></i>
 				</div>
 			</div>

 		</div>

 		<div class="padding">
 			<!--<button type="button" ui-sref="app.seller.tarjeta" class="button button-block button-positive">Agregar datos de pago</button>-->
 			<button type="button" ng-disabled="datosContract.$invalid" ui-sref="{{$state.includes('app.seller') ? 'app.seller.tarjeta' : ( contractData.completar ? 'app.client.contract.tarjeta' : 'app.client.contract.preview' ) }}" class="button button-block bg-green">Continuar</button>
 		</div>

	</ion-content>
</ion-view>